*.svn
*.git
/cache/*
/log/*
/www/cache/*
#/lib/model/om/*
#/lib/model/map/*
/lib/filter/base/*
/lib/form/base/*
/plugins/sfGuardPlugin/lib/model/map/*
/plugins/sfGuardPlugin/lib/model/om/*
/www/uploads/news/*
/www/uploads/photo/*
/www/uploads/translate/*
/www/main_back.conf