# Предполагается, что у каждого модуля есть одноимённый route, используется при формировании файлов переводов
# Некоторые названия маршрутов используются в SiperCache при очистке кэша

#main_idea_no_slash:
#  url:   /:sf_culture
#  param: { module: news, action: main }
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }  

main:
  url:  /:sf_culture/
  param: { module: news, action: main }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
frontend:
  url:  /:sf_culture/
  param: { module: news, action: main }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
version_full:
  url:  /:sf_culture/version/full
  param: { module: news, action: main }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#best_idea:
#  url:  /:sf_culture/idea/best
#  param: { module: idea, action: best }
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#idea_ideaoftheweek:
#  url:  /:sf_culture/idea/ideaoftheweek
#  param: { module: idea, action: ideaoftheweek }
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

# дополнительные маршруты новостей идут до default, чтобы они срабатывали раньше
news_index:
  url:   /:sf_culture/news/index/*
  param: { module: news, action: index, type: news }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
news:
  url:   /:sf_culture/news/index/*
  param: { module: news, action: index, type: news }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
news_show:
  url:   /:sf_culture/news/show/*
  param: { module: news, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
# teachings
teachings_index:
  url:   /:sf_culture/teachings/index/*
  param: { module: news, action: index, type: teachings }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
teachings_show:
  url:   /:sf_culture/teachings/show/*
  param: { module: news, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

# books
books_index:
  url:   /:sf_culture/books/index/*
  param: { module: news, action: index, type: books }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
books_show:
  url:   /:sf_culture/books/show/*
  param: { module: news, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
default:
  url:   /:sf_culture/:module/:action/*
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#user_signup:
#  url:   /:sf_culture/user/signup
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#user_login:
#  url:   /:sf_culture/user/login
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#user_checklogin:
#  url:   /:sf_culture/user/checklogin
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#user_logout:
#  url:   /:sf_culture/user/logout
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#livestream:
#  url:   /:sf_culture/livestream
#  param: { module: livestream, action: show }
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

chat:
  url:   /:sf_culture/chat
  param: { module: chat, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#loginorsignup:
#  url:   /:sf_culture/user/loginorsignup
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#show_idea:
#  url:   /:sf_culture/idea/show
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#new_idea:
#  url:   /:sf_culture/idea/new
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#index_idea:
#  url:   /:sf_culture/idea/index
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#idea_details:
#  url:   /:sf_culture/idea/details
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#idea_abuse:
#  url:   /:sf_culture/idea/abuse
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#idea_archive:
#  url:   /:sf_culture/idea/archive
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#idea_detailsarchive:
#  url:   /:sf_culture/idea/archive
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#user_member:
#  url:   /:sf_culture/user/member
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
#user_profile:
#  url:   /:sf_culture/user/profile
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#user_show:
#  url:   /:sf_culture/user/show
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#user_forgotpassword:
#  url:   /:sf_culture/user/forgotpassword
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#user_newpassword:
#  url:   /:sf_culture/user/newpassword
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }


  
news_rss:
  url:   /:sf_culture/news/rss
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

feed:
  url:   /:sf_culture/news/feed
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

project:
  url:   /:sf_culture/project
  param: { module: project, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }  

photo_index:
  url:   /:sf_culture/photo/index
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
photo:
  url:   /:sf_culture/photo/index
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  

photo_show:
  url:   /:sf_culture/photo/show
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
photoalbum_index:
  url:   /:sf_culture/photo/albums
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

video_index:
  url:   /:sf_culture/video/index
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

video_show:
  url:   /:sf_culture/video/show
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

biography:
  url:   /:sf_culture/biography
  param: { module: biography, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#intro:
#  url:   /:sf_culture/intro
#  param: { module: intro, action: show }
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

contactus:
  url:   /:sf_culture/contactus
  param: { module: contactus, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

links:
  url:   /:sf_culture/links/show
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

search:
  url:   /:sf_culture/search
  param: { module: search, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

sf_captcha:
  url:   /captcha
  param: { module: sfCaptcha, action: index }

encyclopedia:
  url:   /:sf_culture/encyclopedia
  param: { module: encyclopedia, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

#teachings:
#  url:   /:sf_culture/teachings
#  param: { module: news, action: index, type: teachings }
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
#teachings_index:
#  url:   /:sf_culture/teachings/index/*
#  param: { module: news, action: index, type: teachings }
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
blessing:
  url:   /:sf_culture/blessing
  param: { module: blessing, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
faq:
  url:   /:sf_culture/faq
  param: { module: faq, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
#translation_fundraising:
#  url:   /:sf_culture/translation_fundraising
#  param: { module: translation_fundraising, action: show }
#  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
social_tools:
  url:   /:sf_culture/social_tools
  param: { module: social_tools, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
religious_forest:
  url:   /:sf_culture/religious_forest
  param: { module: religious_forest, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
audio_index:
  url:   /:sf_culture/audio/index
  param: { module: audio, action: index }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
audio:
  url:   /:sf_culture/audio/index
  param: { module: audio, action: index }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

audio_show:
  url:   /:sf_culture/audio/show
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
donation:
  url:   /:sf_culture/donation
  param: { module: donation, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
servers:
  url:   /:sf_culture/servers
  param: { module: servers, action: show }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

offer_translation:
  url:   /:sf_culture/offer_translation
  param: { module: text, action: offertranslationfields }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }

js:
  url:   /:sf_culture/js
  param: { module: text, action: js }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }
  
# Ошибка 404
error404:
  url:   /:sf_culture/*
  param: { module: default, action: error404 }
  requirements: { sf_culture: (?:en|ru|sk|uk|es|pl|fr|zh_CN|vi|de|it|ja|es|et|ne|bn) }  