#<IfModule mod_headers.c>

# we are not sending JS-headers for disqusembed, as in this case it is minimized by CloudFlare and do not work
  <FilesMatch "js">
    Header set Content-Type "application/javascript; charset=UTF-8"
#    Header unset Last-Modified
#    Header set Expires "Fri, 21 Dec 2020 00:00:00 GMT"
#    Header set Cache-Control "public, no-transform"
  </FilesMatch>

#  Header set Expires	"Thu, 17 Mar 2011 18:05:38 GMT"
#  Header set Cache-Control "private, max-age=86400"
  ExpiresActive  On
  ExpiresDefault  "access plus 1 hour"
# для news/rss
  AddDefaultCharset UTF-8

#</IfModule>