# если неожиданно #
# ./symfony propel:build-sql  #
# перестаёт создвать SQL по данному файлу - причина может быть в комментариях. - какой-то косяк в #
# $this->lines = explode("\n", $this->cleanup($value)); #
# /home/saynt2day20/etapasvi.com/lib/symfony/yaml/sfYamlParser.php #
# 
# и проверить, что кодировка UTF-8
#

propel:

  text:
    id:               ~
    created_at:       ~

  text_i18n:
    title:            { type: varchar(255), required: true }
    body:             { type: longvarchar }
    
  itemtypes:
    id:               ~
    name:             { type: varchar(10), required: true }

  item2item:
    id:               ~
    item1_id:         { type: integer, required: true, index: true }
    item1_type:       { type: integer, required: true, foreignTable: itemtypes, foreignReference: id, index: true }
    item2_id:         { type: integer, required: true, index: true }
    item2_type:       { type: integer, required: true, foreignTable: itemtypes, foreignReference: id, index: true }
    
  news:
    id:               ~
    date:             { type: date }
    updated_at:       ~
    show:             { type: boolean, defaultValue: true }
    order:            { type: integer, required: true }
    img:              { type: varchar(255) }
    full_path:        { type: varchar(255) }
    thumb_path:       { type: varchar(255) }
#    is_teaching:      { type: boolean, default: 0 }
    original:         { type: longvarchar, required: true }
    type:             { type: integer, required: true, foreignTable: newstypes, foreignReference: id, index: true, default: 1 }
    _indexes:
      index_order:    [order]
      updated_at:     [updated_at]

  news_i18n:
    updated_at_extra:       ~ 
    title:            { type: longvarchar, required: true }
    shortbody:        { type: longvarchar, required: true }
    body:             { type: longvarchar, required: true }
    author:           { type: varchar(255) }
    translated_by:    { type: varchar(255) }
    link:             { type: varchar(255) }
    extradate:        { type: varchar(255) }
    _indexes:
      updated_at_extra:     [updated_at_extra]
    
  newstypes:
    id:               ~
    name:             { type: varchar(20), required: true }

  upload:
    id:               ~
    title:            { type: varchar(255), required: true }
    url:              { type: varchar(255) }

  photo:
    id:               ~
    photoalbum_id:    ~
    created_at:       { type: timestamp }
    updated_at:       ~
    show:             { type: boolean, defaultValue: true }
    order:            { type: integer, required: true }
    img:              { type: varchar(255) }
    full_path:        { type: varchar(255) }
    preview_path:     { type: varchar(255) }
    thumb_path:       { type: varchar(255) }
    link:             { type: varchar(255) }
    _indexes:
      updated_at:     [updated_at]

  photo_i18n:
    updated_at_extra: ~
    title:            { type: longvarchar }
    body:             { type: longvarchar }
    author:           { type: varchar(255) }
    _indexes:
      updated_at_extra:     [updated_at_extra]
    
  photoalbum:
    id:               ~
    created_at:       ~
    show:             { type: boolean, defaultValue: true }
    order:            { type: integer, required: true }

  photoalbum_i18n:
    title:            { type: longvarchar }
    body:             { type: longvarchar }
    author:           { type: varchar(255) }    

  video:
    id:               ~
    created_at:       ~
    updated_at:       ~
    show:             { type: boolean, defaultValue: true }
    order:            { type: integer, required: true }
    link:             { type: varchar(255) }
    all_cultures:     { type: boolean, default: 0 }
    _indexes:
      updated_at:     [updated_at]

  video_i18n:
    updated_at_extra: ~
    img:              { type: varchar(255), required: true }
    code:             { type: longvarchar, required: true }
    title:            { type: longvarchar }
    body:             { type: longvarchar }
    author:           { type: varchar(255) }
    _indexes:
      updated_at_extra:     [updated_at_extra]

  quote:
    id:               ~

  quote_i18n:
    title:            { type: longvarchar, required: true }

  audio:
    id:               ~
    created_at:       ~
    updated_at:       ~
    show:             { type: boolean, defaultValue: true }
    file:             { type: varchar(255), required: true }
    remote:           { type: varchar(255) }
    size:             { type: float }
    duration:         { type: float }
    order:            { type: integer, required: true, index: true }
    _indexes:
      updated_at:     [updated_at]
    
  audio_i18n:
    updated_at_extra: ~
    title:            { type: longvarchar }
    body:             { type: longvarchar }
    author:           { type: longvarchar }
    _indexes:
      updated_at_extra:     [updated_at_extra]