<IfModule mod_rewrite.c>
  RewriteEngine On

#  RewriteCond %{REQUEST_FILENAME} !-f 
#  RewriteRule ^(.*)$ http://lh3.googleusercontent.com/$1 [QSA,L]  
#  RewriteRule ^(.*)$ http://lh3.ggpht.com/_h_ndBu6jdk8/$1 [QSA,L]  
  RewriteRule ^(.*)$ http://lh3.ggpht.com/$1 [QSA,L]  
</IfModule>