* {
	margin:0;
	padding:0;
}

/* menu items */
#body_main #mi_main a,
#body_news #mi_news a,
#body_photo #mi_photo a,
#body_video #mi_video a,
#body_bio #mi_bio a,
#body_encyclopedia #mi_encyclopedia a,
#body_contactus #mi_contactus a,
#body_search #mi_search a,
#body_project #mi_project a,
#body_faq #mi_faq a,
#body_blessing #mi_blessing a,
#body_translation_fundraising #mi_translation_fundraising a,
#body_social_tools #mi_social_tools a,
#body_audio #mi_audio a,
#body_teachings #mi_teachings a,
#body_religious_forest #mi_religious_forest a,
#body_feed #mi_feed a,
#body_donation #mi_donation a,
#body_chat #mi_chat a,
#body_servers #mi_servers a {
    border-bottom:1px solid
    }
    
#menu #mi_servers a {
    color: #df3f3f;
    }

/* basic elements */
body { 
    font: 0.7em/15px Verdana;
	text-align: justify;
	margin: 0px; 
	}
p, 
.p { 
	margin:10px 0;
	text-align: justify;
	overflow: hidden;
	zoom: 1;
	}
.p {
    margin-bottom:0;
    }

#bubble_quote p:first-letter {
	font-size: 20px;
	font-family: Monotype Corsiva;
    }


h1,
h2.like_h1 {
	background:none;
    font-family:georgia;
    font-style:normal;
    font-size:16px;
    margin:20px auto 15px;
    color:#8e8e9c;
    font-weight:bold;
    padding:0;
    text-align:center;
    width:500px;
    }
h1.m_bottom {
	margin:20px auto 31px;
	}


h2 { 
	color:#988F5E;
	font-family:georgia,sans-serif;
	font-size:8pt;
	font-weight:bold;
	margin:20px 0 10px;
    text-align: left;
	}

h3 { 
	color:#555753;
	font-family:georgia;
	font-size:8pt;
	font-size-adjust:none;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:16pt;
    text-align: left;
	}

h4 {
	color:#555753;
	font-family:georgia;
	font-size:8pt;
	font-size-adjust:none;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:16pt;
    text-align: left;
	}

acronym {
	border-bottom:1px dotted #555753;
	}

.low_h {
	margin-top: 0;
	}
	
.box{
	padding: 5px 10px 5px;	
	border:1px solid #DDDDDD;
	margin:10px 0 0;
	}
.free_box_container .box {
	border:1px solid white;
	}

.main {
	margin-bottom:26px;
}

a:link, 
a:active { 
	/*font-weight: bold; */
	/*color: #7c68a6;*/
	/*color: #7e709c;*/
	/*color: #AB93D7;*/
	color: #9075c2;
	}
a:visited { 
	/*font-weight: bold; 	*/
	/*color: #B7A5DF;*/
	/*color: #9685BA;*/
	/*color: #b1b0c2;*/
	/*color: #52507a;*/
	color: #9075c2;
	}
a:hover { 
	/*font-weight: bold; */
	/*color: #9685BA;*/
	/*color: #df3f3f;*/
	/*color: black;*/
	}
a img {
	border: 0;
	}
a.external {
	background:transparent url("../i/external.gif") no-repeat scroll right center;
	padding:0 13px 0 0;
	}
a.no_decor {
	text-decoration: none;
	}
a.files {
    background:url("/i/interface_sprite.jpg") no-repeat scroll -689px -289px transparent;
    height: 21px;
    width: 24px;
    padding:4px 0 4px 29px;
    line-height:20px;
}
a.pdf, 
a.PDF {
    background-position: -689px -268px;
    }
a.doc, 
a.DOC {
    background-position: -689px -247px;
    }

/*ul {
	list-style-position:outside;
	list-style-type: disc;
	margin:0;
	}*/
ul {
	list-style-position:outside;
	list-style-type: disc;
	/*font: 8pt/16pt Verdana;*/
	margin-left:15px;
	text-align: justify;
	}
ul.simple {
	list-style-type: none;
	}
ul.padded{
	list-style-position:outside;
	padding-left:16px;
	}


ol.in_text {
	list-style-position:outside;
	margin-left:22px;
	}
ol.contents {
    text-align: left;
    }
/* IE */
ol.in_text li {
	//margin-left: 7px;
	}
.padded {
	list-style-position:outside;
	font: 8pt/16pt Verdana;
	margin-left:15px;
	text-align: justify;
	}

ol {
	list-style-position:inside;
	font-family: Verdana; 
	}
ol.padded {
	list-style-position:outside;
	padding-left:22px;
	}
dt {
	font-weight:bold;
	margin-top: 10px;
	}
dd {
	padding-left:30px;
	}
table {
	border-collapse: collapse;
	}
.table td {
    border:1px solid #CCCCCC;
    padding:2px 10px;
    }
.table th {
    border:1px solid #CCCCCC;
    padding:3px 10px;
    text-align:left;
    }
.form_table  td {
	/*border: 1px solid #ADACBD;*/
    text-align: left;
	padding:3px;
	}
code {
	font-family: "Verdana,Helvetica,sans-serif";
	}

/* specific divs */

#wrapper { 
	height: 400px;
    margin: 0 auto;
    position: relative;
    width: 566px;
	}

#header { 
	height: 127px;
    left: -266px;
    overflow: hidden;
    position: absolute;
    width: 925px;
	zoom: 1;
	}

#header #bubble_title {
    background:url("../i/interface_sprite.jpg") no-repeat scroll -697px -184px transparent;
    color:#c5c3d3;
    display:block;
    float:right;
    font:bold 8pt/23px georgia;
    margin-top:73px;
    padding:0 0 0 24px;
    }
#header #bubble_title { 
	color: #9075C2;
	}
#header #bubble_title span {
	color: #ADACBD;
	}
	
p.p2{
	margin-top:20px;
	}	

.p1{
	margin-top:10px;
	margin-bottom:10px;
	}
.p1_no_bottom {
	margin-top:10px;
    margin-bottom:0;
	}
.p1_no_top {
    margin-top:0;
	margin-bottom:10px;
	}
.p1_no_both {
    margin:0;
	}

#menu {
	left: 584px;
    position: absolute;
    text-align: left;
    top: 83px;
    width: 210px;
	}
    
#menu ul {
	list-style-position:outside;
	list-style-type: disc;
	margin:0;
	}
	
#menu p{
	text-align:center;
	margin: 10px 0 10px 0;
	width: 160px;
	padding: 2px;
	}

#menu h3 {
	background:none repeat scroll 0 0 transparent;
	color:#ADACBD;
	font:bold 10px georgia;
	margin:10px 0 2px;
	padding:0;
	text-decoration:none;
	}

#menu  ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	}
#menu  ul li {
	line-height:16px;
	}
#menu a:link,
#menu a:visited { 
	color:gray;
	font-family:Verdana;
	text-decoration:none;
	}
#menu a.alert:link,
#menu a.alert:visited { 
	color:#df3f3f;
	}
#menu a:hover { 
	border-bottom:1px dotted gray;
	}
#requirements {
	margin-left: 600px; 
	position: absolute; 
	top: 50px; 
	right: 10px;
	width: 160px;
	}
	
#content_wrapper {
	left:0;
	position:absolute;
	top:47px;
	width:566px;
	}

#content {
    min-height:496px;
    height:auto!important; /* Для всех браузеров кроме <IE6 */
    height:496px;
    }
#footer {
    font-family:verdana;
    font-size:9px;
    color:#888;
    padding:10px 0;
    margin:10px 0;
    text-align:center;
    }
#footer a img {
    text-decoration:none;
    }
/* IE 7 */
*:first-child+html #footer {
    /*margin:20px 0 40px;*/
    margin:0;
    }
#f_line {
    border-bottom: 1px solid #ADACBD;
    height: 1px;
    margin-bottom: 7px;
    padding-bottom: 3px;
    width: 100%;
    }
#share {
    margin-top:30px;
    }
#share .s_item {
    margin: 9px 0;
    }
#fb-root {
    display: none;
    }
.twitter-share-button {
    display: block;
    }
/* IE 7 */
*:first-child+html .share_item_facebook {
    margin: 0;
    width: 95px;
    }
    
/* bubbles */

#bubble_quote {
    background:url("../i/interface_sprite.jpg") no-repeat scroll -310px 0 transparent;
    color:#555753;
    height:156px;
    left:-223px;
    line-height:19px;
    padding:63px 0 0 32px;
    position:absolute;
    top:316px;
    width:189px;
    }

#bubble_quote p {
	font: italic 8pt/20pt georgia;
    margin-right: 27px;    
    text-align: center;
	}
*:first-child+html #bubble_quote p {
    padding-top: 10px;
    }

#bubble_click {
	background: url("../i/interface_sprite.jpg") no-repeat scroll 1px -22px transparent;
    height: 308px;
    left: -308px;
    position: absolute;
    top: 22px;
    width: 300px;
    z-index: 100;
	}
#bubble_click img {
	border: 0;
	}
#bubble_mantra {
	background: url("../i/interface_sprite.jpg") no-repeat scroll -530px 0 transparent;
    color: #9685BA;
    height: 70px;
    left: -2px;
    padding: 115px 0 0;
    position: absolute;
    text-align: center;
    top: -116px;
    width: 184px;
    z-index: 2;
	}
#bubble_mantra img {
	margin-top:4px;
}
/*
#bubble_countdown acronym {
	cursor:default;
	display:block;
	height:50px;
	}
#bubble_countdown .hasCountdown {
	background-color: transparent;
	border: 0;
	}

#bubble_countdown #countdown {
	font-size: 12px;
	}
*/
/* Opera */
/*
@media all and (min-width: 0px) {
	#bubble_countdown .countdown_amount {
		font-size: 150%;
	}
}*/

#bubble_lang { 
	background: url("../i/interface_sprite.jpg") no-repeat scroll -530px -185px transparent;
    color: #9685BA;
    font: 8pt/16pt georgia;
    height: 55px;
    left: 263px;
    padding: 46px 0 0 2px;
    position: absolute;
    text-align: center;
    top: -48px;
    width: 90px;
	}
.slide_arrow {
	cursor:pointer;
	font-size:0.7em;
	font-family:"Lucida Grande",Arial,Sans-serif;
    position: relative;
    top: -2px;
	}
/* IE 6 */
* html .slide_arrow {
	font-size:6px;
	}
.lang_name {
	color:#9075C2;
	cursor:pointer;
	text-decoration:underline;
	}
#lang_list {
    background: none repeat scroll 0 0 white;
    display: none;
    margin: 0 0 0 23px;
    padding: 2px 7px 2px 5px;
    text-align: left;
    width: 123px;
	}
#lang_list .b-fg {
    margin-right: 2px;
    }
#bubble_lang p { 
	text-align: center;
	padding-left:1px;
	}
    /*
#bubble_login {
	background:transparent url(../i/bg_circle_medium.jpg) no-repeat scroll 0 0;
	height:140px;
	left:43px;
    line-height:19px;
	padding:75px 0 0 33px;
	position:absolute;
	top:316px;
	width:181px;
	}
#bubble_login .login_form_element td {
	text-align: right;
	}*/
#bubble_sound {
	background: url("../i/interface_sprite.jpg") no-repeat scroll -620px -185px transparent;
    height: 17px;
    left: 450px;
    overflow: hidden;
    padding: 17px 12px;
    position: absolute;
    top: 7px;
    width: 25px;
	zoom: 1;
	}

.audio_item {
    overflow:visible;
    position: relative;
    zoom: 1;
    }
.audio_item span {
	display:none;
	}
.audio_descr {
    margin-top: 5px;
    }
.audio_item a,
.audio_item img {
    vertical-align: bottom;
    }
.audioplayer {    
    /*margin-left: -11px;*/
    margin-top: 3px;
    position: relative;
    /*left: -11px;*/
    }
.save {
    background-image: url("/i/interface_sprite.jpg");
    background-position: -374px -294px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    }
hr.audio_divider {
    margin: 9px 0;
    }
/* IE 7 */
*:first-child+html hr.audio_divider {
    margin: 0;
    }
/* IE 6 */
* html hr.audio_divider {
    margin: 0;
    }
/* иногда создаётся и не исчезает */
#atffc {
	display:none;
	}
    
#enable_javascript {
	left:253px;
	padding-left:10px;
	position:relative;
	top:-33px;
	width:566px;
	}

.accesskey{
	text-decoration: underline;
	}

/*
p.no_decor:first-letter {
	font-size: 8pt;
	font-family: Verdana;
	}*/

hr {
	border-top: 1px solid #DDDDDD;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	}
hr.light {	
	border-top: 1px solid #f1f1f1;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
	color: #f1f1f1;
	height:1px;
	/*background-color: #f1f1f1;*/
	}

hr.dashed {	
    border-top: 1px dashed #DDDDDD;
    border-bottom: 1px dashed white;
    border-left: none;
    border-right: none;
    color: #DDDDDD;
	}


/* =forms */
input,
select,
textarea,
#body_search input.gsc-input,
#body_search input.gsc-search-button {
	border: 1px solid gray;
    padding: 1px 2px;
	font-family: "Lucida Grande",Verdana,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 1em;
	}
input[type="checkbox"], 
input[type="radio"] {
    border: 0;
    }
.input_button,
#body_search input.gsc-search-button {	
    background: none repeat scroll 0 0 #dbdbdb;
    border: 1px outset #CCCCCC;
    cursor: pointer;
    padding: 1px 4px;
	}
.input_button:hover,
#body_search input.gsc-search-button:hover {	
    background: none repeat scroll 0 0 #f0f0f0;
    }
/*
.hieroglyphic .input_button {
    height: 21px;
    }
*/    

/* IE 6 не работает перед буквами a, b, c, d, e, f */
/*
* html .input_button,
* html #body_search input.gsc-search-button {
	padding: 0px 5px 0px;
	}
    */
/* IE 7 */
*:first-child+html .input_button,
*:first-child+html #body_search input.gsc-search-button {
	padding: 0;
	}
/* IE 8 */
/*
.input_button,
#body_search input.gsc-search-button {
	padding-bottom /*\**:0\9
	}*/
/* Firefox */
/*
.input_button:default,
#body_search input.gsc-search-button:default {
	padding-bottom: 2px;
	}*/
/*
.input_button:hover,
#body_search input.gsc-search-button:hover {
	background-color:#F9F9F9;
	}*/
.error_list {
	list-style: none;
	list-style-position:outside;
	margin:0;
	color: #df3f3f;
	}
.error {
	border: 1px solid #df3f3f;
	}
.alert {
	color: #df3f3f;
	}
.success {
	color: #32CD32;
	}
.field_name {
	/*background-color:#F6F6F6;*/
    text-align: right;
	}
.field_input {
    text-align: left;
    }

.right {
	float: right;
	overflow: hidden;
	zoom: 1;
	}

.left {
	float: left;
	}

.center {
	margin-left: auto;
	margin-right: auto;
    text-align:center;
	}
.right_text {
	text-align: right;
	}
.center_text,
.center_text p {
	text-align:center;
	}
.center_text table,
.center_table {
	margin: 0 auto;
	}

.left_text {
	text-align: left;
	}
.unchecked_text {
	/*color:#949390;*/
	font-weight: bold;
	}
.back {
	text-align: right;
	}

.medium {
	font-size: 9px;
	}

.small {
	font-family:Verdana;
	font-size:9.5px;
	}

.verysmall {
	font-size:8.5px;
	}
.i {
	font-style:italic;
	}
.u {
	text-decoration: underline;
	}    
.rounded {	
	background-color:#f6f5f5;
	}
.hidden {
    display: none;
    }
.slide_down:after  { 
    content: " ▼";    
    }

/* comments*/
html #disqus_thread {
    margin-bottom:0;
    }
#dsq-brlink {
    display:none;
    font-size:9.5px;
    }
#wrapper #dsq-content{
    font-size:11px;
    }
#dsq-content .dsq-item-trackback{
    display:none;
    }
.author {
    color:#888;
    font-family:verdana;
    font-size:9px;
    overflow:hidden;
    }
.social {
    display:block;
    height:22px;
    background-color:#f2f2f2;
    border-width:0 1px 1px;
    border-color:#ddd;
    border-style:solid;
    overflow:hidden;
    padding:3px 2px 0 0;
    text-align:left;
    zoom:1;
    }
.social_kiwi6,
.social_livestream,
.social_twitter,
.social_livejournal,
.social_vaikuntha,
.social_vkontakte,
.social_facebook,
.social_google,
.social_visitor_map,
.social_youtube,
.social_picasa,
.social_rss,
.social_zoho {
    background-image: url("/i/social_sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 64px;
    width: 64px;
    }
.social_kiwi6 {
    background-position: -128px 0;
    }
.social_livestream {
    background-position: -64px -64px;
    }
.social_twitter {
    background-position: -64px -128px;
    }
.social_livejournal {
    background-position: -0 -64px;
    }
.social_vaikuntha {
    background-position: -128px -128px;
    }
.social_vkontakte {
    background-position: -64px -192px;
    }
.social_facebook {
    background-position: 0 0;
    }
.social_google {
    background-position: -64px 0;
    }
.social_visitor_map {
    background-position: 0 -192px;
    }
.social_youtube {
    background-position: -128px -192px;
    }
.social_picasa {
    background-position: -128px -64px;
    }
.social_rss {
    background-position: -0 -128px;
    }
.social_zoho {
    background-position: 0 -256px;
    }

.addthis_toolbox {
    float:right;
    height:22px;
    width:244px;
    }
.navigation {
    text-align:center;
    margin:11px 0;
    }
.nav_selected {
    background:none repeat scroll 0 0 #adacbd;
    color:white;
    font-weight:bold;
    padding:2px;
    }
.read_more {
    text-decoration:none;
    }
.date{
    font-size:9.5px;
    }
.source {
    font-size:9px;
    }
.date,
.source,
.light {
    color:#888;
    }
.box_status {
    overflow:hidden;
    zoom:1;
    margin-top:10px;
    }


/* news */
.news_list {
    width: 100%;
    }
.news_list td {
	border: 1px solid #DDDDDD;
	padding: 5px 10px 8px;
	}

img.newsitem_img {
	float:left;
	/*margin:0 15px 10px 0;*/
	margin:0 15px 10px 0;
	position:relative;
	top:5px;
	}
.newsfull {
	padding:10px 10px 20px;
	}
/* IE6 */
* html .newsfull {
	padding:10px 30px 20px;
	}
.newsfull .title {
    color:#988f5e;
    text-align:center;
    } 
.newsfull img.news_img {
    margin-bottom:10px;
    }
.short_body {
    overflow:hidden;
    position:relative;
    padding-bottom:11px;
    zoom:1;
    }
.toolbar {
    bottom:0;
    position:absolute;
    right:0;
    text-align:right;
    margin-bottom:0;
    margin-top:10px;
    }
.short_body .spacer {
    height:17px;
    }
.read_more_icon,
.comments_icon {
    background-image:url("/i/interface_sprite.jpg");
    background-repeat:no-repeat;
    display:inline-block;
    height:16px;
    width:16px;
    }
.read_more_icon {
    background-position:-326px -294px;
    }
.comments_icon {
    background-position:-310px -294px;
    }
.rss_link {
    float:left;
    }
.rss_img {
    margin-right: 1px;
    position: relative;
    top: 2px;
    vertical-align: top;
    }
.current_photo {
    opacity:0.5;
    filter:alpha(opacity=50);
    }

/* photo */
.photo_list td,
.album_list td {
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
    vertical-align:top;
    width:167px;
    }
.photo_list img,
.album_list img {
    vertical-align:middle;
    }
.album_list p {
    margin-left:9px;
    margin-right:9px;
    }
.photofull {
    padding:20px 0 0;
    }
.photofull .title {
	color:#988F5E;
	text-align: center;
	margin-bottom:5px;
	}
.photofull .photo_list td{
    border: 0;
    vertical-align: middle;
    }
.embed_photo {
	margin: 0 auto;
	width:244px;
	}
.embed_photo,
.embed_photo p {
	color:#888888;
	margin-top:5px;
	text-align:center;
	}
.photo_incl {
	float:left;
	margin: 7px 21px 0 8px;
	}
.photo_info {
    margin: 0 30px 3px;
    }
.prev_icon ,
.next_icon  {
    background-image: url("/i/interface_sprite.jpg"); 
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;     
    }
.prev_icon {
    background-position: -342px -294px;
    }
.next_icon {
    background-position: -358px -294px;
    }

/* video */
.video_list td {
    border: 1px solid #DDDDDD;
	height:150px;
	padding:10px;
	text-align:center;
	vertical-align:top;
	/*width:29%;*/
	width:167px;
	}

.video_list img {
	width:150px;
	}
.video_list p {
	line-height:16px;
	padding:0 10px;
	text-align: left;
	}
.video_list p a {
	text-decoration:none;
	}
.video {
	padding:10px 0px 20px;
	}
.video .title {
	color:#988F5E;
	text-align:center;
	margin:0 auto;
	}
.video_info {
	margin: 0 40px 0;
	}

/* search */


/* other */
.title {
	/*color:#555753;*/
	font-weight:bold;
	text-align: left;
	background:none;
	padding:0;
	font-family: georgia,sans-serif;
	font-size:8pt;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	letter-spacing: 0;
	margin: 0;
    width: auto;
	}

.title a {
	/*color:#ADACBD;*/
	color:#988F5E;
	text-decoration: none;
	}
.title a:visited { 
	color:#988F5E;
	}


.prev_next img {
	vertical-align: middle;
	}
/* IE6 */
* html .prev_next {
	margin-top: 5px;
	}

    /*
#forgot_password_form label {
	border:0 none;
	}
#new_password_form label {
	border:0 none;
	}
label.error {
	display: block;
	color: #df3f3f;
    border: 0;
	}
*/
.arrow_prev {
	margin: 0 5px 0 0;
	}
.arrow_next {
	margin: 0 0 0 5px;
	}
.bread_crumbs {
	/*line-height:12px;*/
	/*margin:-10px 0 -3px;*/
	margin:0 0 13px;
	vertical-align:bottom;
	}
.bread_crumbs a {
    text-decoration: none;
    }
.contents td {
	vertical-align: top;
	}
.video_object {
	padding:15px 0 6px;
	text-align:center;
	}
.index_toolbar {
	margin-top:-11px;
	}
.cyrcle {
    background:url("/i/bg_circle_big.gif") repeat scroll 0 0 transparent;
    height:350px;
    text-align:center;
    width:350px;
    }
.cyrcle div {
    height:70px;
    }
.cyrcle a span {
    display:none;
    }
    
/* cultures */
.hieroglyphic #content * {
	font-size:14px;
    font-family: "宋体";
    line-height:21px;
	} 
    
/* related */
.related {
	overflow: hidden;
	zoom: 1;
	}
.related div {
    float: left;
    margin-bottom:10px;
    margin-right:10px;
	padding:0;
    text-align:left;
    vertical-align:top;
    width:154px;
	}   
.related img,
.related p {
    padding: 0;
    margin: 0;
    text-align: left;
    }   
.related .video_list td {
    border: 0;
    padding: 0;
    text-align: left;
}

/*	Пиктограммы государственных флагов в спрайте */
/*	@author Артём Поликарпов, artpolikarpov.ru (artpolikarpov@gmail.com) */
/*  @author Никита Иванов (исходные пиктограммы флагов), nickivanov.ru (nickivanov@nickivanov.ru) */
/* Набор распостраняется на условиях лицензии CC-BY-SA */
/* Эти летом я был: в <i class="b-fg b-fg_HN"><img src="fg.png"/></i> Гондурасе, <i class="b-fg b-fg_LI"><img src="fg.png"/></i> Лихтенштейне, <i class="b-fg b-fg_SE"><img src="fg.png"/></i> и Швеции. */
.b-fg { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; *display: inline; *zoom: 1; vertical-align: baseline; position: relative; overflow: hidden; width: 16px; height: 9px; font-size: 0; line-height: 0; }
.b-fg img { display: inline; border: none; margin: 0; padding: 0; position: relative; top: 9px; -moz-transition-property: top; -webkit-transition-property: top; -o-transition-property: top; transition-property: top; -moz-transition-duration: 0.25s; -webkit-transition-duration: 0.25s; -o-transition-duration: 0.25s; transition-duration: 0.25s; }

.b-fg_no-transition img { -moz-transition-property: none; -webkit-transition-property: none; -o-transition-property: none; transition-property: none; -moz-transition-duration: 1s; -webkit-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; }

.b-fg_ABKHAZIA img { top: 0px; }
.b-fg_AD img { top: -9px; }
.b-fg_AE img { top: -18px; }
.b-fg_AF img { top: -27px; }
.b-fg_AG img { top: -36px; }
.b-fg_AI img { top: -45px; }
.b-fg_AL img { top: -54px; }
.b-fg_AM img { top: -63px; }
.b-fg_AN img { top: -72px; }
.b-fg_AO img { top: -81px; }
.b-fg_AQ img { top: -90px; }
.b-fg_AR img { top: -99px; }
.b-fg_AS img { top: -108px; }
.b-fg_AT img { top: -117px; }
.b-fg_AU img { top: -126px; }
.b-fg_AW img { top: -135px; }
.b-fg_AX img { top: -144px; }
.b-fg_AZ img { top: -153px; }
.b-fg_BA img { top: -162px; }
.b-fg_BB img { top: -171px; }
.b-fg_BD img { top: -180px; }
.b-fg_BE img { top: -189px; }
.b-fg_BF img { top: -198px; }
.b-fg_BG img { top: -207px; }
.b-fg_BH img { top: -216px; }
.b-fg_BI img { top: -225px; }
.b-fg_BJ img { top: -234px; }
.b-fg_BL img { top: -243px; }
.b-fg_BM img { top: -252px; }
.b-fg_BN img { top: -261px; }
.b-fg_BO img { top: -270px; }
.b-fg_BR img { top: -279px; }
.b-fg_BS img { top: -288px; }
.b-fg_BT img { top: -297px; }
.b-fg_BV img { top: -306px; }
.b-fg_BW img { top: -315px; }
.b-fg_BY img { top: -324px; }
.b-fg_BZ img { top: -333px; }
.b-fg_CA img { top: -342px; }
.b-fg_CC img { top: -351px; }
.b-fg_CD img { top: -360px; }
.b-fg_CF img { top: -369px; }
.b-fg_CG img { top: -378px; }
.b-fg_CH img { top: -387px; }
.b-fg_CI img { top: -396px; }
.b-fg_CK img { top: -405px; }
.b-fg_CL img { top: -414px; }
.b-fg_CM img { top: -423px; }
/*.b-fg_CN img { top: -432px; }*/
.b-fg_ZH-CN img { top: -432px; }
.b-fg_CO img { top: -441px; }
.b-fg_CR img { top: -450px; }
.b-fg_CU img { top: -459px; }
.b-fg_CV img { top: -468px; }
.b-fg_CX img { top: -477px; }
.b-fg_CY img { top: -486px; }
.b-fg_CZ img { top: -495px; }
.b-fg_DE img { top: -504px; }
.b-fg_DJ img { top: -513px; }
.b-fg_DK img { top: -522px; }
.b-fg_DM img { top: -531px; }
.b-fg_DO img { top: -540px; }
.b-fg_DZ img { top: -549px; }
.b-fg_EC img { top: -558px; }
.b-fg_EE img { top: -567px; }
.b-fg_EG img { top: -576px; }
.b-fg_EH img { top: -585px; }
.b-fg_ER img { top: -594px; }
.b-fg_ES-CE img { top: -603px; }
.b-fg_ES-ML img { top: -612px; }
.b-fg_ES img { top: -621px; }
.b-fg_ET img { top: -630px; }
.b-fg_EU img { top: -639px; }
.b-fg_FI img { top: -648px; }
.b-fg_FJ img { top: -657px; }
.b-fg_FK img { top: -666px; }
.b-fg_FM img { top: -675px; }
.b-fg_FO img { top: -684px; }
.b-fg_FR img { top: -693px; }
.b-fg_GA img { top: -702px; }
.b-fg_GB img { top: -711px; }
.b-fg_GD img { top: -720px; }
.b-fg_GE img { top: -729px; }
.b-fg_GF img { top: -738px; }
.b-fg_GG img { top: -747px; }
.b-fg_GH img { top: -756px; }
.b-fg_GI img { top: -765px; }
.b-fg_GL img { top: -774px; }
.b-fg_GM img { top: -783px; }
.b-fg_GN img { top: -792px; }
.b-fg_GP img { top: -801px; }
.b-fg_GQ img { top: -810px; }
.b-fg_GR img { top: -819px; }
.b-fg_GS img { top: -828px; }
.b-fg_GT img { top: -837px; }
.b-fg_GU img { top: -846px; }
.b-fg_GW img { top: -855px; }
.b-fg_GY img { top: -864px; }
.b-fg_HK img { top: -873px; }
.b-fg_HM img { top: -882px; }
.b-fg_HN img { top: -891px; }
.b-fg_HR img { top: -900px; }
.b-fg_HT img { top: -909px; }
.b-fg_HU img { top: -918px; }
.b-fg_IC img { top: -927px; }
.b-fg_ID img { top: -936px; }
.b-fg_IE img { top: -945px; }
.b-fg_IL img { top: -954px; }
.b-fg_IM img { top: -963px; }
.b-fg_IN img { top: -972px; }
.b-fg_IO img { top: -981px; }
.b-fg_IQ img { top: -990px; }
.b-fg_IR img { top: -999px; }
.b-fg_IS img { top: -1008px; }
.b-fg_IT img { top: -1017px; }
.b-fg_JE img { top: -1026px; }
.b-fg_JM img { top: -1035px; }
.b-fg_JO img { top: -1044px; }
.b-fg_JP img { top: -1053px; }
.b-fg_KE img { top: -1062px; }
.b-fg_KG img { top: -1071px; }
.b-fg_KH img { top: -1080px; }
.b-fg_KI img { top: -1089px; }
.b-fg_KM img { top: -1098px; }
.b-fg_KN img { top: -1107px; }
.b-fg_KOSOVO img { top: -1116px; }
.b-fg_KP img { top: -1125px; }
.b-fg_KR img { top: -1134px; }
.b-fg_KW img { top: -1143px; }
.b-fg_KY img { top: -1152px; }
.b-fg_KZ img { top: -1161px; }
.b-fg_LA img { top: -1170px; }
.b-fg_LB img { top: -1179px; }
.b-fg_LC img { top: -1188px; }
.b-fg_LI img { top: -1197px; }
.b-fg_LK img { top: -1206px; }
.b-fg_LR img { top: -1215px; }
.b-fg_LS img { top: -1224px; }
.b-fg_LT img { top: -1233px; }
.b-fg_LU img { top: -1242px; }
.b-fg_LV img { top: -1251px; }
.b-fg_LY img { top: -1260px; }
.b-fg_MA img { top: -1269px; }
.b-fg_MC img { top: -1278px; }
.b-fg_MD img { top: -1287px; }
.b-fg_ME img { top: -1296px; }
.b-fg_MF img { top: -1305px; }
.b-fg_MG img { top: -1314px; }
.b-fg_MH img { top: -1323px; }
.b-fg_MK img { top: -1332px; }
.b-fg_ML img { top: -1341px; }
.b-fg_MM img { top: -1350px; }
.b-fg_MN img { top: -1359px; }
.b-fg_MO img { top: -1368px; }
.b-fg_MP img { top: -1377px; }
.b-fg_MQ img { top: -1386px; }
.b-fg_MR img { top: -1395px; }
.b-fg_MS img { top: -1404px; }
.b-fg_MT img { top: -1413px; }
.b-fg_MU img { top: -1422px; }
.b-fg_MV img { top: -1431px; }
.b-fg_MW img { top: -1440px; }
.b-fg_MX img { top: -1449px; }
.b-fg_MY img { top: -1458px; }
.b-fg_MZ img { top: -1467px; }
.b-fg_NA img { top: -1476px; }
.b-fg_NC img { top: -1485px; }
.b-fg_NE img { top: -1494px; }
.b-fg_NF img { top: -1503px; }
.b-fg_NG img { top: -1512px; }
.b-fg_NI img { top: -1521px; }
.b-fg_NKR img { top: -1530px; }
.b-fg_NL img { top: -1539px; }
.b-fg_NO img { top: -1548px; }
.b-fg_NP img { top: -1557px; }
.b-fg_NR img { top: -1566px; }
.b-fg_NU img { top: -1575px; }
.b-fg_NZ img { top: -1584px; }
.b-fg_OM img { top: -1593px; }
.b-fg_PA img { top: -1602px; }
.b-fg_PE img { top: -1611px; }
.b-fg_PF img { top: -1620px; }
.b-fg_PG img { top: -1629px; }
.b-fg_PH img { top: -1638px; }
.b-fg_PK img { top: -1647px; }
.b-fg_PL img { top: -1656px; }
.b-fg_PM img { top: -1665px; }
.b-fg_PN img { top: -1674px; }
.b-fg_PR img { top: -1683px; }
.b-fg_PS img { top: -1692px; }
.b-fg_PT img { top: -1701px; }
.b-fg_PW img { top: -1710px; }
.b-fg_PY img { top: -1719px; }
.b-fg_QA img { top: -1728px; }
.b-fg_RE img { top: -1737px; }
.b-fg_RO img { top: -1746px; }
.b-fg_RS img { top: -1755px; }
.b-fg_RU img { top: -1764px; }
.b-fg_RW img { top: -1773px; }
.b-fg_SA img { top: -1782px; }
.b-fg_SB img { top: -1791px; }
.b-fg_SC img { top: -1800px; }
.b-fg_SD img { top: -1809px; }
.b-fg_SE img { top: -1818px; }
.b-fg_SG img { top: -1827px; }
.b-fg_SH img { top: -1836px; }
.b-fg_SI img { top: -1845px; }
.b-fg_SJ img { top: -1854px; }
.b-fg_SK img { top: -1863px; }
.b-fg_SL img { top: -1872px; }
.b-fg_SM img { top: -1881px; }
.b-fg_SN img { top: -1890px; }
.b-fg_SO img { top: -1899px; }
.b-fg_SOUTH-OSSETIA img { top: -1908px; }
.b-fg_SR img { top: -1917px; }
.b-fg_ST img { top: -1926px; }
.b-fg_SV img { top: -1935px; }
.b-fg_SY img { top: -1944px; }
.b-fg_SZ img { top: -1953px; }
.b-fg_TC img { top: -1962px; }
.b-fg_TD img { top: -1971px; }
.b-fg_TF img { top: -1980px; }
.b-fg_TG img { top: -1989px; }
.b-fg_TH img { top: -1998px; }
.b-fg_TJ img { top: -2007px; }
.b-fg_TK img { top: -2016px; }
.b-fg_TL img { top: -2025px; }
.b-fg_TM img { top: -2034px; }
.b-fg_TN img { top: -2043px; }
.b-fg_TO img { top: -2052px; }
.b-fg_TR img { top: -2061px; }
.b-fg_TT img { top: -2070px; }
.b-fg_TV img { top: -2079px; }
.b-fg_TW img { top: -2088px; }
.b-fg_TZ img { top: -2097px; }
.b-fg_UA img { top: -2106px; }
.b-fg_UG img { top: -2115px; }
.b-fg_UM img { top: -2124px; }
/*.b-fg_US img { top: -2133px; }*/
.b-fg_EN img { top: -2133px; }
.b-fg_UY img { top: -2142px; }
.b-fg_UZ img { top: -2151px; }
.b-fg_VA img { top: -2160px; }
.b-fg_VC img { top: -2169px; }
.b-fg_VE img { top: -2178px; }
.b-fg_VG img { top: -2187px; }
.b-fg_VI img { top: -2196px; }
.b-fg_VN img { top: -2205px; }
.b-fg_VU img { top: -2214px; }
.b-fg_WF img { top: -2223px; }
.b-fg_WS img { top: -2232px; }
.b-fg_YE img { top: -2241px; }
.b-fg_YT img { top: -2250px; }
.b-fg_ZA img { top: -2259px; }
.b-fg_ZM img { top: -2268px; }
.b-fg_ZW img { top: -2277px; }

/* offer translation */
#offer_tr_ctr {
    text-align: center;
    margin-bottom: 7px;
    }
#offer_tr,
#offer_tr_success,
#offer_tr_iframe_id,
#offer_tr_iframe,
#offer_tr_loader {
    display: none;
    }
#offer_tr_loader {
    text-align:center;
    }
#offer_tr  {
    margin-bottom: 7px;
    }
#offer_tr  textarea {
    width: 98%;
    }
#offer_tr_trigger {
	font-size:9.5px;
    }