* {
	margin:0;
	padding:0;
}

/* menu items */
#body_main #mi_main a,
#body_news #mi_news a,
#body_photo #mi_photo a,
#body_video #mi_video a,
#body_bio #mi_bio a,
#body_encyclopedia #mi_encyclopedia a,
#body_contactus #mi_contactus a,
#body_search #mi_search a,
#body_project #mi_project a,
#body_faq #mi_faq a,
#body_blessing #mi_blessing a,
#body_translation_fundraising #mi_translation_fundraising a,
#body_social_tools #mi_social_tools a,
#body_audio #mi_audio a,
#body_teachings #mi_teachings a,
#body_religious_forest #mi_religious_forest a,
#body_feed #mi_feed a,
#body_donation #mi_donation a {
    border-bottom:1px solid
    }
.body_class_no_minilogin #bubble_login * {
	display:none;
	}

/* basic elements */
body { 
    font: 0.7em/15px Verdana;
	text-align: justify;
	/*color: #555753; 	*/
	margin: 0px; 
	}
p, 
.p { 
	margin:10px 0;
	text-align: justify;
	overflow: hidden;
	zoom: 1;
	}
.p {
    margin-bottom:0;
    }

#bubble_quote p:first-letter {
	font-size: 20px;
	font-family: Monotype Corsiva;
    }


h1,
h2.like_h1 {
	background:none;
    font-family:georgia;
    font-style:normal;
    font-size:16px;
    margin:20px auto 23px;
    color:#8e8e9c;
    font-weight:bold;
    padding:0;
    text-align:center;
    width:500px;
    }
h1.m_bottom {
	margin:20px auto 31px;
	}


h2 { 
	color:#988F5E;
	font-family:georgia,sans-serif;
	font-size:8pt;
	font-weight:bold;
	margin:20px 0 10px;
    text-align: left;
	}

h3 { 
	color:#555753;
	font-family:georgia;
	font-size:8pt;
	font-size-adjust:none;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:16pt;
    text-align: left;
	}

h4 {
	color:#555753;
	font-family:georgia;
	font-size:8pt;
	font-size-adjust:none;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:16pt;
    text-align: left;
	}

acronym {
	border-bottom:1px dotted #555753;
	}

.low_h {
	margin-top: 0;
	}
	
.box{
	padding: 5px 10px 5px;	
	border:1px solid #DDDDDD;
	margin:10px 0 0;
	}
.free_box_container .box {
	border:1px solid white;
	}

.main {
	margin-bottom:26px;
}

a:link, 
a:active { 
	/*font-weight: bold; */
	/*color: #7c68a6;*/
	/*color: #7e709c;*/
	/*color: #AB93D7;*/
	color: #9075c2;
	}
a:visited { 
	/*font-weight: bold; 	*/
	/*color: #B7A5DF;*/
	/*color: #9685BA;*/
	/*color: #b1b0c2;*/
	/*color: #52507a;*/
	color: #9075c2;
	}
a:hover { 
	/*font-weight: bold; */
	/*color: #9685BA;*/
	/*color: #df3f3f;*/
	/*color: black;*/
	}
a img {
	border: 0;
	}
a.external {
	background:transparent url("../i/external.gif") no-repeat scroll right center;
	padding:0 13px 0 0;
	}
a.no_decor {
	text-decoration: none;
	}
a.files {
    background:url("/i/interface_sprite.jpg") no-repeat scroll -689px -289px transparent;
    height: 21px;
    width: 24px;
    padding:4px 0 4px 29px;
    line-height:20px;
}
a.pdf, 
a.PDF {
    background-position: -689px -268px;
    }
a.doc, 
a.DOC {
    background-position: -689px -247px;
    }

/*ul {
	list-style-position:outside;
	list-style-type: disc;
	margin:0;
	}*/
ul {
	list-style-position:outside;
	list-style-type: disc;
	/*font: 8pt/16pt Verdana;*/
	margin-left:15px;
	text-align: justify;
	}
ul.simple {
	list-style-type: none;
	}
ul.padded{
	list-style-position:outside;
	padding-left:16px;
	}


ol.in_text {
	list-style-position:outside;
	margin-left:22px;
	}
ol.contents {
    text-align: left;
    }
/* IE */
ol.in_text li {
	//margin-left: 7px;
	}
.padded {
	list-style-position:outside;
	font: 8pt/16pt Verdana;
	margin-left:15px;
	text-align: justify;
	}

ol {
	list-style-position:inside;
	font-family: Verdana; 
	}
ol.padded {
	list-style-position:outside;
	padding-left:22px;
	}
dt {
	font-weight:bold;
	margin-top: 10px;
	}
dd {
	padding-left:30px;
	}
table {
	border-collapse: collapse;
	}
.table td {
    border:1px solid #CCCCCC;
    padding:2px 10px;
    }
.table th {
    border:1px solid #CCCCCC;
    padding:3px 10px;
    text-align:left;
    }
.form_table  td {
	/*border: 1px solid #ADACBD;*/
	padding:3px;
	}
code {
	font-family: "Verdana,Helvetica,sans-serif";
	}

/* specific divs */

#wrapper { 
	height: 400px;
    margin: 0 auto;
    position: relative;
    width: 566px;
	}

#header { 
	height: 127px;
    left: -266px;
    overflow: hidden;
    position: absolute;
    width: 925px;
	zoom: 1;
	}

#header #bubble_title {
    background:url("../i/interface_sprite.jpg") no-repeat scroll -697px -184px transparent;
    color:#c5c3d3;
    float:right;
    font:bold 8pt/23px georgia;
    margin-top:73px;
    padding:0 0 0 24px;
    }
#header #bubble_title { 
	color: #9075C2;
	}
#header #bubble_title span {
	color: #ADACBD;
	}
	
p.p2{
	margin-top:20px;
	}	

.p1{
	margin-top:10px;
	margin-bottom:10px;
	}
.p1_no_bottom {
	margin-top:10px;
    margin-bottom:0;
	}
.p1_no_top {
    margin-top:0;
	margin-bottom:10px;
	}
.p1_no_both {
    margin:0;
	}

#menu {
	left: 584px;
    position: absolute;
    text-align: left;
    top: 83px;
    width: 210px;
	}
    
#menu ul {
	list-style-position:outside;
	list-style-type: disc;
	margin:0;
	}
	
#menu p{
	text-align:center;
	margin: 10px 0 10px 0;
	width: 160px;
	padding: 2px;
	}

#menu h3 {
	background:none repeat scroll 0 0 transparent;
	color:#ADACBD;
	font:bold 10px georgia;
	margin:10px 0 2px;
	padding:0;
	text-decoration:none;
	}

#menu  ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	}
#menu  ul li {
	line-height:16px;
	}
#menu a:link,
#menu a:visited { 
	color:gray;
	font-family:Verdana;
	text-decoration:none;
	}
#menu a.alert:link,
#menu a.alert:visited { 
	color:#df3f3f;
	}
#menu a:hover { 
	border-bottom:1px dotted gray;
	}
#requirements {
	margin-left: 600px; 
	position: absolute; 
	top: 50px; 
	right: 10px;
	width: 160px;
	}
	
#content_wrapper {
	left:0;
	position:absolute;
	top:47px;
	width:566px;
	}

#content {
    min-height:496px;
    height:auto!important; /* Для всех браузеров кроме <IE6 */
    height:496px;
    }
#footer {
    font-family:verdana;
    font-size:9px;
    color:#888;
    padding:10px 0;
    margin:10px 0;
    text-align:center;
    }
#footer a img {
    text-decoration:none;
    }
/* IE 7 */
*:first-child+html #footer {
    margin:20px 0 40px;
    }
#share {
    border-bottom:1px solid #adacbd;
    margin-bottom:7px;
    width:100%;
    }
.share_item {
    padding:0 0 9px;
    }
    
/* bubbles */

#bubble_quote {
    background:url("../i/interface_sprite.jpg") no-repeat scroll -310px 0 transparent;
    color:#555753;
    height:156px;
    left:-223px;
    line-height:19px;
    padding:63px 0 0 32px;
    position:absolute;
    top:316px;
    width:189px;
    }

#bubble_quote p {
	font: italic 8pt/20pt georgia;
    margin-right: 27px;    
    text-align: center;
	}
*:first-child+html #bubble_quote p {
    padding-top: 10px;
    }

#bubble_click {
	background: url("../i/interface_sprite.jpg") no-repeat scroll 1px -22px transparent;
    height: 308px;
    left: -308px;
    position: absolute;
    top: 22px;
    width: 300px;
    z-index: 100;
	}
#bubble_click img {
	border: 0;
	}
#bubble_mantra {
	background: url("../i/interface_sprite.jpg") no-repeat scroll -530px 0 transparent;
    color: #9685BA;
    height: 70px;
    left: -2px;
    padding: 115px 0 0;
    position: absolute;
    text-align: center;
    top: -116px;
    width: 184px;
    z-index: 2;
	}
#bubble_mantra img {
	margin-top:4px;
}
/*
#bubble_countdown acronym {
	cursor:default;
	display:block;
	height:50px;
	}
#bubble_countdown .hasCountdown {
	background-color: transparent;
	border: 0;
	}

#bubble_countdown #countdown {
	font-size: 12px;
	}
*/
/* Opera */
/*
@media all and (min-width: 0px) {
	#bubble_countdown .countdown_amount {
		font-size: 150%;
	}
}*/

#bubble_lang { 
	background: url("../i/interface_sprite.jpg") no-repeat scroll -530px -185px transparent;
    color: #9685BA;
    font: 8pt/16pt georgia;
    height: 55px;
    left: 263px;
    padding: 46px 0 0;
    position: absolute;
    text-align: center;
    top: -48px;
    width: 90px;
	}
.slide_arrow {
	cursor:pointer;
	font-size:0.7em;
	font-family:"Lucida Grande",Arial,Sans-serif;
	}
/* IE 6 */
* html .slide_arrow {
	font-size:6px;
	}
.lang_name {
	color:#9075C2;
	cursor:pointer;
	text-decoration:underline;
	}
#lang_list {
	background: white;
	display:none;
	padding:0;
	margin:0;
	text-align:left;
	margin-left:23px;
	padding:2px 0 2px 9px;
	width:106px;
	}
#bubble_lang p { 
	text-align: center;
	padding-left:1px;
	}
    /*
#bubble_login {
	background:transparent url(../i/bg_circle_medium.jpg) no-repeat scroll 0 0;
	height:140px;
	left:43px;
    line-height:19px;
	padding:75px 0 0 33px;
	position:absolute;
	top:316px;
	width:181px;
	}
#bubble_login .login_form_element td {
	text-align: right;
	}*/
#bubble_sound {
	background: url("../i/interface_sprite.jpg") no-repeat scroll -620px -185px transparent;
    height: 17px;
    left: 450px;
    overflow: hidden;
    padding: 17px 12px;
    position: absolute;
    top: 7px;
    width: 25px;
	zoom: 1;
	}

.audio_item {
    overflow:visible;
    position: relative;
    zoom: 1;
    }
.audio_item span {
	display:none;
	}
.audio_descr {
    /*line-height: 20px;*/
    bottom: 0;
    position: absolute;
    right: 0;
    }
.audio_descr,
.audio_item a,
.audio_item img {
    vertical-align: bottom;
    }
.audioplayer {    
    /*margin-left: -11px;*/
    margin-top: 3px;
    position: relative;
    /*left: -11px;*/
    }
.save {
    background-image: url("/i/interface_sprite.jpg");
    background-position: -374px -294px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    }
hr.audio_divider {
    margin: 9px 0;
    }
/* IE 7 */
*:first-child+html hr.audio_divider {
    margin: 0;
    }
/* IE 6 */
* html hr.audio_divider {
    margin: 0;
    }
/* иногда создаётся и не исчезает */
#atffc {
	display:none;
	}
    
#enable_javascript {
	left:253px;
	padding-left:10px;
	position:relative;
	top:-33px;
	width:566px;
	}

.accesskey{
	text-decoration: underline;
	}

/*
p.no_decor:first-letter {
	font-size: 8pt;
	font-family: Verdana;
	}*/

hr {
	border-top: 1px solid #DDDDDD;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	}
hr.light {	
	border-top: 1px solid #f1f1f1;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
	color: #f1f1f1;
	height:1px;
	/*background-color: #f1f1f1;*/
	}

hr.dashed {	
    border-top: 1px dashed #DDDDDD;
    border-bottom: 1px dashed white;
    border-left: none;
    border-right: none;
    color: #DDDDDD;
	}


/* =forms */
input,
select,
textarea,
#body_search input.gsc-input,
#body_search input.gsc-search-button {
	border: 1px solid gray;
    padding: 1px 2px;
	font-family: "Lucida Grande",Verdana,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 1em;
	}
input[type="checkbox"], 
input[type="radio"] {
    border: 0;
    }
.input_button,
#body_search input.gsc-search-button {	
    border: 1px outset #CCCCCC;
    cursor: pointer;
    padding: 1px 4px;
	}
/*
.hieroglyphic .input_button {
    height: 21px;
    }
*/    

/* IE 6 не работает перед буквами a, b, c, d, e, f */
/*
* html .input_button,
* html #body_search input.gsc-search-button {
	padding: 0px 5px 0px;
	}
    */
/* IE 7 */
*:first-child+html .input_button,
*:first-child+html #body_search input.gsc-search-button {
	padding: 0;
	}
/* IE 8 */
/*
.input_button,
#body_search input.gsc-search-button {
	padding-bottom /*\**:0\9
	}*/
/* Firefox */
/*
.input_button:default,
#body_search input.gsc-search-button:default {
	padding-bottom: 2px;
	}*/
/*
.input_button:hover,
#body_search input.gsc-search-button:hover {
	background-color:#F9F9F9;
	}*/
.error_list {
	list-style: none;
	list-style-position:outside;
	margin:0;
	color: #df3f3f;
	}
.error {
	border: 1px solid #df3f3f;
	}
.alert {
	color: #df3f3f;
	}
.field_name {
	/*background-color:#F6F6F6;*/
    text-align: right;
	}
.field_input {
    text-align: left;
    }

.right {
	float: right;
	overflow: hidden;
	zoom: 1;
	}

.left {
	float: left;
	}

.center {
	margin-left: auto;
	margin-right: auto;
    text-align:center;
	}
.right_text {
	text-align: right;
	}
.center_text,
.center_text p {
	text-align:center;
	}
.center_text table,
.center_table {
	margin: 0 auto;
	}

.left_text {
	text-align: left;
	}
.unchecked_text {
	/*color:#949390;*/
	font-weight: bold;
	}
.back {
	text-align: right;
	}

.medium {
	font-size: 9px;
	}

.small {
	font-family:Verdana;
	font-size:9.5px;
	}

.verysmall {
	font-size:8.5px;
	}
.i {
	font-style:italic;
	}
.u {
	text-decoration: underline;
	}    
.rounded {	
	background-color:#f6f5f5;
	}
.hidden {
    display: none;
    }
.slide_down:after  { 
    content: " ▼";    
    }

/* comments*/
html #disqus_thread {
    margin-bottom:0;
    }
#dsq-brlink {
    display:none;
    font-size:9.5px;
    }
#wrapper #dsq-content{
    font-size:11px;
    }
#dsq-content .dsq-item-trackback{
    display:none;
    }
.author {
    color:#888;
    font-family:verdana;
    font-size:9px;
    overflow:hidden;
    }
.social {
    display:block;
    height:22px;
    background-color:#f2f2f2;
    border-width:0 1px 1px;
    border-color:#ddd;
    border-style:solid;
    overflow:hidden;
    padding:3px 2px 0 0;
    text-align:left;
    zoom:1;
    }
.social_kiwi6,
.social_livestream,
.social_twitter,
.social_livejournal,
.social_vaikuntha,
.social_vkontakte,
.social_facebook,
.social_google,
.social_visitor_map,
.social_youtube,
.social_picasa,
.social_rss {
    background-image: url("/i/social_sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 64px;
    width: 64px;
    }
.social_kiwi6 {
    background-position: -128px 0;
    }
.social_livestream {
    background-position: -64px -64px;
    }
.social_twitter {
    background-position: -64px -128px;
    }
.social_livejournal {
    background-position: -0 -64px;
    }
.social_vaikuntha {
    background-position: -128px -128px;
    }
.social_vkontakte {
    background-position: -64px -192px;
    }
.social_facebook {
    background-position: 0 0;
    }
.social_google {
    background-position: -64px 0;
    }
.social_visitor_map {
    background-position: 0 -192px;
    }
.social_youtube {
    background-position: -128px -192px;
    }
.social_picasa {
    background-position: -128px -64px;
    }
.social_rss {
    background-position: -0 -128px;
    }

.addthis_toolbox {
    float:right;
    height:22px;
    width:244px;
    }
.navigation {
    text-align:center;
    margin:11px 0;
    }
.nav_selected {
    background:none repeat scroll 0 0 #adacbd;
    color:white;
    font-weight:bold;
    padding:2px;
    }
.read_more {
    text-decoration:none;
    }
.date{
    font-size:9.5px;
    }
.source {
    font-size:9px;
    }
.date,
.source,
.light {
    color:#888;
    }
.box_status {
    overflow:hidden;
    zoom:1;
    margin-top:10px;
    }


/* news */
.news_list {
    width: 100%;
    }
.news_list td {
	border: 1px solid #DDDDDD;
	padding: 5px 10px 8px;
	}

img.newsitem_img {
	float:left;
	/*margin:0 15px 10px 0;*/
	margin:0 15px 10px 0;
	position:relative;
	top:5px;
	}
.newsfull {
	padding:10px 33px 20px;
	}
/* IE6 */
* html .newsfull {
	padding:10px 30px 20px;
	}
.newsfull .title {
    color:#988f5e;
    text-align:center;
    } 
.newsfull img.news_img {
    margin-bottom:10px;
    }
.short_body {
    overflow:hidden;
    position:relative;
    padding-bottom:11px;
    zoom:1;
    }
.toolbar {
    bottom:0;
    position:absolute;
    right:0;
    text-align:right;
    margin-bottom:0;
    margin-top:10px;
    }
.short_body .spacer {
    height:17px;
    }
.read_more_icon,
.comments_icon {
    background-image:url("/i/interface_sprite.jpg");
    background-repeat:no-repeat;
    display:inline-block;
    height:16px;
    width:16px;
    }
.read_more_icon {
    background-position:-326px -294px;
    }
.comments_icon {
    background-position:-310px -294px;
    }
.rss_link {
    float:left;
    }
.current_photo {
    opacity:0.5;
    filter:alpha(opacity=50);
    }

/* photo */
.photo_list td,
.album_list td {
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
    vertical-align:top;
    width:167px;
    }
.photo_list img,
.album_list img {
    vertical-align:middle;
    }
.album_list p {
    margin-left:9px;
    margin-right:9px;
    }
.photofull {
    padding:20px 0 0;
    }
.photofull .title {
	color:#988F5E;
	text-align: center;
	margin-bottom:5px;
	}
.photofull .photo_list td{
    border: 0;
    vertical-align: middle;
    }
.embed_photo {
	margin: 0 auto;
	width:244px;
	}
.embed_photo,
.embed_photo p {
	color:#888888;
	margin-top:5px;
	text-align:center;
	}
.photo_incl {
	float:left;
	margin: 7px 21px 0 8px;
	}
.photo_info {
    margin-left: 30px;
    margin-right: 30px;
    }
.prev_icon ,
.next_icon  {
    background-image: url("/i/interface_sprite.jpg"); 
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;     
    }
.prev_icon {
    background-position: -342px -294px;
    }
.next_icon {
    background-position: -358px -294px;
    }

/* video */
.video_list td {
    border: 1px solid #DDDDDD;
	height:150px;
	padding:10px;
	text-align:center;
	vertical-align:top;
	/*width:29%;*/
	width:167px;
	}

.video_list img {
	width:150px;
	}
.video_list p {
	line-height:16px;
	padding:0 10px;
	text-align: left;
	}
.video_list p a {
	text-decoration:none;
	}
.video {
	padding:10px 0px 20px;
	}
.video .title {
	color:#988F5E;
	text-align:center;
	margin:0 auto;
	}
.video_info {
	margin: 0 40px 0;
	}

/* search */


/* other */
.title {
	/*color:#555753;*/
	font-weight:bold;
	text-align: left;
	background:none;
	padding:0;
	font-family: georgia,sans-serif;
	font-size:8pt;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	letter-spacing: 0;
	margin: 0;
	}

.title a {
	/*color:#ADACBD;*/
	color:#988F5E;
	text-decoration: none;
	}
.title a:visited { 
	color:#988F5E;
	}


.prev_next img {
	vertical-align: middle;
	}
/* IE6 */
* html .prev_next {
	margin-top: 5px;
	}

    /*
#forgot_password_form label {
	border:0 none;
	}
#new_password_form label {
	border:0 none;
	}
label.error {
	display: block;
	color: #df3f3f;
    border: 0;
	}
*/
.arrow_prev {
	margin: 0 5px 0 0;
	}
.arrow_next {
	margin: 0 0 0 5px;
	}
.bread_crumbs {
	/*line-height:12px;*/
	/*margin:-10px 0 -3px;*/
	margin:0 0 13px;
	vertical-align:bottom;
	}
.bread_crumbs a {
    text-decoration: none;
    }
.contents td {
	vertical-align: top;
	}
.video_object {
	padding:15px 0 6px;
	text-align:center;
	}
.index_toolbar {
	margin-top:-11px;
	}
.cyrcle {
    background:url("/i/bg_circle_big.gif") repeat scroll 0 0 transparent;
    height:350px;
    text-align:center;
    width:350px;
    }
.cyrcle div {
    height:70px;
    }
.cyrcle a span {
    display:none;
    }
    
/* cultures */
.hieroglyphic #content * {
	font-size:14px;
    font-family: "宋体";
    line-height:21px;
	} 
    
/* related */
.related {
	overflow: hidden;
	zoom: 1;
	}
.related div {
    float: left;
    margin-bottom:10px;
    margin-right:10px;
	padding:0;
    text-align:left;
    vertical-align:top;
    width:154px;
	}   
.related img,
.related p {
    padding: 0;
    margin: 0;
    text-align: left;
    }   
.related .video_list td {
    border: 0;
    padding: 0;
    text-align: left;
}