* {
	margin:0;
	padding:0;
}

/* menu items */
#body_main #mi_main,
#body_news #mi_news,
#body_photo #mi_photo,
#body_video #mi_video,
#body_bio #mi_bio,
#body_encyclopedia #mi_encyclopedia,
#body_contactus #mi_contactus,
#body_search #mi_search,
#body_project #mi_project,
#body_faq #mi_faq,
#body_blessing #mi_blessing,
#body_translation_fundraising #mi_translation_fundraising,
#body_social_tools #mi_social_tools,
#body_audio #mi_audio,
#body_teachings #mi_teachings,
#body_religious_forest #mi_religious_forest,
#body_feed #mi_feed, 
#body_donation #mi_donation {
    display: none;
	}

body { 
    font: 0.7em/15px Verdana;
	text-align: justify;
	margin: 0px; 
	}

h1,
h2.like_h1 {
	background: none;
	font-family:georgia;
	font-style:normal;
	font-size:16px;
	margin:20px auto 23px;
	color: #ADACBD;
	font-weight: bold;
	padding: 0;
	text-align: center;
	width:500px;
	}
h1.m_bottom {
	margin:20px auto 31px;
	}


h2 { 
	color:#988F5E;
	font-family:georgia,sans-serif;
	font-size:8pt;
	font-weight:bold;
	margin:20px 0 10px;
	}
h3 { 
	color:#555753;
	font-family:georgia;
	font-size:8pt;
	font-size-adjust:none;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:16pt;
	}

h4 {
	color:#555753;
	font-family:georgia;
	font-size:8pt;
	font-size-adjust:none;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:16pt;
	}

acronym {
	border-bottom:1px dotted #555753;
	}


a:link, 
a:active { 
	color: #9075c2;
	}
a:visited { 
	color: #9075c2;
	}
a:hover { 
	}
a img {
	border: 0;
	}
a.external {
	background:transparent url("../i/external.gif") no-repeat scroll right center;
	padding:0 13px 0 0;
	}
a.no_decor {
	text-decoration: none;
	}
a.files {
    background:url("/i/interface_sprite.jpg") no-repeat scroll -689px -289px transparent;
    height: 21px;
    width: 24px;
    padding:4px 0 4px 29px;
    line-height:20px;
}
a.pdf, 
a.PDF {
    background-position: -689px -268px;
    }
a.doc, 
a.DOC {
    background-position: -689px -247px;
    }
#wrapper {
    padding: 3px;
    }
#header {
    line-height: 22px;
    overflow: hidden;
    width: 100%;
    }
#header #buddle_title {
    display: block;
    float: left;
    font: bold 8pt/23px georgia;
    height: 24px;
	}

#buddle_title i {
    background: url("../i/interface_sprite.jpg") no-repeat scroll -697px -184px transparent;
    display: block;
    float: left;
    height: 24px;
    width: 24px;
	}

#header #buddle_title span {
	color: #ADACBD;
	}
	
#menu  ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	}

#menu a:link,
#menu a:visited { 
	color:gray;
	font-family:Verdana;
	text-decoration:none;
	}
#menu a.alert:link,
#menu a.alert:visited { 
	color:#df3f3f;
	}
#menu a:hover { 
	border-bottom:1px dotted gray;
	}

#requirements {
	margin-left: 600px; 
	position: absolute; 
	top: 50px; 
	right: 10px;
	width: 160px;
	}	
	
#footer { 	
	font-family:verdana;
	font-size:9px;
	color: #888888;
	border-top: 1px solid #ADACBD;
    margin-top: 6px;
	text-align: left;
	}
.share_item {
    padding: 0 2px;
    text-align: left;
    }

/* bubbles */
#bubble_lang {
    margin-left: 15px;
    float: left;
    }
#culture_list{
    margin: 5px 0;
    }
.slide_arrow {
	cursor:pointer;
	font-size:0.7em;
	font-family:"Lucida Grande",Arial,Sans-serif;
	}
/* IE 6 */
* html .slide_arrow {
	font-size:6px;
	}

.audio_item {
    overflow:visible;
    position: relative;
    zoom: 1;
    }
.audio_item span {
	display:none;
	}
.audio_descr {
    /*line-height: 20px;*/
    bottom: 0;
    position: absolute;
    right: 0;
    }
.audio_descr,
.audio_item a,
.audio_item img {
    vertical-align: bottom;
    }
.audioplayer {    
    /*margin-left: -11px;*/
    margin-top: 3px;
    position: relative;
    /*left: -11px;*/
    }
.save {
    background-image: url("/i/interface_sprite.jpg");
    background-position: -374px -294px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    }
hr.audio_divider {
    margin: 9px 0;
    }
/* IE 7 */
*:first-child+html hr.audio_divider {
    margin: 0;
    }
/* IE 6 */
* html hr.audio_divider {
    margin: 0;
    }
/* иногда создаётся и не исчезает */
#atffc {
	display:none;
	}
    
#enable_javascript {
	left:253px;
	padding-left:10px;
	position:relative;
	top:-33px;
	width:566px;
	}

.accesskey{
	text-decoration: underline;
	}

/*
p.no_decor:first-letter {
	font-size: 8pt;
	font-family: Verdana;
	}*/

hr {
	border-top: 1px solid #DDDDDD;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	}
hr.light {	
	border-top: 1px solid #f1f1f1;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
	color: #f1f1f1;
	height:1px;
	/*background-color: #f1f1f1;*/
	}

hr.dashed {	
    border-top: 1px dashed #DDDDDD;
    border-bottom: 1px dashed white;
    border-left: none;
    border-right: none;
    color: #DDDDDD;
	}


/* =forms */
input,
select,
textarea,
#body_search input.gsc-input,
#body_search input.gsc-search-button {
	border: 1px solid gray;
    padding: 1px 2px;
	font-family: "Lucida Grande",Verdana,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 1em;
	}
input[type="checkbox"], 
input[type="radio"] {
    border: 0;
    }
.input_button,
#body_search input.gsc-search-button {	
    border: 1px outset #CCCCCC;
    cursor: pointer;
    padding: 1px 4px;
	}
/*
.hieroglyphic .input_button {
    height: 21px;
    }
*/    

/* IE 6 не работает перед буквами a, b, c, d, e, f */
/*
* html .input_button,
* html #body_search input.gsc-search-button {
	padding: 0px 5px 0px;
	}
    */
/* IE 7 */
*:first-child+html .input_button,
*:first-child+html #body_search input.gsc-search-button {
	padding: 0;
	}
/* IE 8 */
/*
.input_button,
#body_search input.gsc-search-button {
	padding-bottom /*\**:0\9
	}*/
/* Firefox */
/*
.input_button:default,
#body_search input.gsc-search-button:default {
	padding-bottom: 2px;
	}*/
/*
.input_button:hover,
#body_search input.gsc-search-button:hover {
	background-color:#F9F9F9;
	}*/
.error_list {
	list-style: none;
	list-style-position:outside;
	margin:0;
	color: #df3f3f;
	}
.error {
	border: 1px solid #df3f3f;
	}
.alert {
	color: #df3f3f;
	}
.field_name {
	/*background-color:#F6F6F6;*/
    text-align: right;
	}
.field_input {
    text-align: left;
    }

.right {
	float: right;
	overflow: hidden;
	zoom: 1;
	}

.left {
	float: left;
	}

.center {
	margin-left: auto;
	margin-right: auto;
    text-align:center;
	}
.right_text {
	text-align: right;
	}
.center_text,
.center_text p {
	text-align:center;
	}
.center_text table,
.center_table {
	margin: 0 auto;
	}

.left_text {
	text-align: left;
	}
.unchecked_text {
	/*color:#949390;*/
	font-weight: bold;
	}
.back {
	text-align: right;
	}

.medium {
	font-size: 9px;
	}

.small {
	font-family:Verdana;
	font-size:9.5px;
	}
/*
.small:first-letter {
	font-family:Verdana;
	font-size:9.5px;
	}*/
.verysmall {
	font-size:8.5px;
	}
.i {
	font-style:italic;
	}
.u {
	text-decoration: underline;
	}    
.rounded {	
	background-color:#f6f5f5;
	}
.hidden {
    display: none;
    }
.slide_down:after  { 
    content: " ▼";    
    }

/* idea */
/*
#idea_form label {
	border: 0;
	}

.idea_toolbar{
	height: 21px;
	}

.idea_action {
	background-attachment:scroll;
	background-color:transparent;	
	background-repeat:repeat;
	cursor: pointer;
	display:block;
	float:right;
	height:16px;
	margin:0 3px;
	width:16px;
	}
.action_vote {
	background-image:url(/i/vote_for.png);
	background-position:0 0;
	}
.action_vote_disabled {
	background-image:url(/i/vote_for.png);
	background-position:0 16px;
	cursor:default;
	}
.action_abuse {
	background-image:url(/i/report_abuse.png);
	background-position:0 0;
	}
.action_abuse_disabled {
	background-image:url(/i/report_abuse.png);
	background-position:0 16px;
	cursor:default;
	}
.votes_container {
	float: right;
	line-height: 18px;
	margin-left:5px;
	}
.vote_value {
	font-size: 12px;
	font-family: Arial;
	color: #888888;
	}
*/

/* comments*/
.dsq-brlink {
    font-size: 9.5px;
    }
/*
#comments_form label {
	border: 0;
	}
#elComments p {
	padding: 0 0 0 10px;
	}
.comments_link {
	padding: 2px 10px 4px 10px;
	overflow: hidden;
	margin: 0;
	zoom:1;
	}
.comments_link input {
	position:relative;
	top:2px;
	}
/* IE6 
*  html .comments_link {
	padding: 0;
	margin: 0;
	}
.comments_author {
	margin: 5px 0 0;
	}
* html .comments_author {
	margin: 0px 0 0;
	}
.comments_body {
	margin: 0 0 8px;
	text-align: left;
	}
*/

.author {
	color:#888888;
	font-family:verdana;
	font-size:9px;
	/*float:right;*/
	overflow:hidden;
	}
.social {
	display:block;
	height:22px;
	background-color: #f2f2f2;
	border-width: 0 1px 1px;
	border-color: #DDDDDD;
	border-style: solid;
	overflow: hidden;
	padding: 3px 2px 0 0;
	text-align:left;
	zoom:1;
	}
.social_kiwi6,
.social_livestream,
.social_twitter,
.social_livejournal,
.social_vaikuntha,
.social_vkontakte,
.social_facebook,
.social_google,
.social_visitor_map,
.social_youtube,
.social_picasa,
.social_rss {
    background-image: url("/i/social_sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 64px;
    width: 64px;
    }
.social_kiwi6 {
    background-position: -128px 0;
    }
.social_livestream {
    background-position: -64px -64px;
    }
.social_twitter {
    background-position: -64px -128px;
    }
.social_livejournal {
    background-position: -0 -64px;
    }
.social_vaikuntha {
    background-position: -128px -128px;
    }
.social_vkontakte {
    background-position: -64px -192px;
    }
.social_facebook {
    background-position: 0 0;
    }
.social_google {
    background-position: -64px 0;
    }
.social_visitor_map {
    background-position: 0 -192px;
    }
.social_youtube {
    background-position: -128px -192px;
    }
.social_picasa {
    background-position: -128px -64px;
    }
.social_rss {
    background-position: -0 -128px;
    }
/* IE6 */
/*
* html .social {
	margin-right: -20px;
	}*/
.addthis_toolbox {
	float:right;
	height: 22px;
    width: 244px;
	}

/* =signup */
/*
#signup_form p {
    text-align: center;
    }
#signup_form table {
    margin-left: auto;
    margin-right: auto;
    }*/
    
/*
.signup  .field_input {
    width: 290px;
    }
.signup  td {
    vertical-align: top;
	padding:3px;
	}
.signup select {
	width:294px;
	}
.signup input {
	width:290px;
	}
.checkbox_container input{
	width:auto;
	}
.signup .input_button {
	width: auto;
	}
.captcha {
	vertical-align:middle;
	}
*/
/* =login */
/*
.login_form  td {
	padding:3px;
	}
.login_form input {
	width:200px;
	}
.login_form .input_button {
	width: auto;
	}
.login_form_element label {
	border: 0;
	}

#bubble_login .login_form  td {
	border: 0;
	padding:1px 3px 0;
	}
#bubble_login .login_form  .field_name {
	background-color:transparent;
	}
#bubble_login .login_form input {
	width:87px;
	}
#bubble_login .login_form .input_button {
	width: auto;
	}
#bubble_login  p {
	padding: 0;
	margin: 0;
	text-align: center;
	padding:0 17px 0 0;
	}
*/

/* =actions */
/*
#actions {
	background:transparent url(../i/bg_circle_gray.gif) no-repeat scroll 0 0;
	height:266px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:12px auto 0;
	overflow:hidden;
	zoom: 1;
	padding:9px 0 0 11px;
	width:255px;
	}

* html #actions {
	padding-left:0px;
	width:266px;
	}
#actions a img {
	border:0 none;
	}
#actions li {
	float:left;
	line-height:14px;
	margin:95px 0 0 8px;
	text-align:center;
	width:70px;
	}
#actions.logged_in li {
	margin:95px 0 0 21px;
	width:56px;
	}
* html #actions.logged_in li {
	margin:95px 0 0 17px;
	width:58px;
	}
#thinking_time {
	margin-left:-25px;
	margin-top:0px;
	text-align:center;
	}
#bubble_login .day_of_week {
	font-family:georgia;
	font-size:8pt;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:16pt;
	padding: 0;
	}
*/

/* =comments */
/*
.comments_form {
	margin-top:15px;
	padding:0 10px;
	}
.comments_form textarea {
	display:block;
	}
div.grippie {
    background:#EEEEEE url(/i/grippie.png) no-repeat scroll center 2px;
    border-color:#DDDDDD;
    border-style:solid;
    border-width:0pt 1px 1px;
    cursor:s-resize;
    height:9px;
    overflow:hidden;
    }
.resizable-textarea textarea {
    display:block;
    margin-bottom:0pt;
    width:95%;
    height: 20%;
    }
*/

.navigation {
	text-align:center;
	word-spacing:6px;
	margin:11px 0;
	}
.nav_selected {
    background:none repeat scroll 0 0 #ADACBD;
    color:white;
    font-weight:bold;
    padding:2px;
    }
.read_more {
	text-decoration:none;
	}
.date,
.source,
.light{	
	color: #888888;
	}
/*
.date:first-letter {
	font-size:9px;
	font-family: Verdana;
	}*/
.box_status {
	overflow: hidden;
	zoom: 1;
	margin-top:10px;
	}

/* news */
.news_list {
    width: 100%;
    }
.news_list td {
	border: 1px solid #DDDDDD;
	padding: 5px 10px 8px;
	}

img.newsitem_img {
	float:left;
	/*margin:0 15px 10px 0;*/
	margin:0 15px 10px 0;
	position:relative;
	top:5px;
	}
.newsfull {
	padding:10px 33px 20px;
	}
/* IE6 */
* html .newsfull {
	padding:10px 30px 20px;
	}
.newsfull .title{
	/*color:#555753;*/
	color:#988F5E;
	}
.newsfull .title {
	text-align: center;
	}
.newsfull img.news_img {
	margin-bottom: 10px;
	}
.short_body {
	overflow: hidden;    
    position:relative;
    padding-bottom:11px;
	zoom:1;
	}
.short_body p {
    bottom:0;
    position:absolute;
    right:0;
    }
.short_body div {
    height: 17px;
    }
.read_more_icon ,
.comments_icon  {
    background-image: url("/i/interface_sprite.jpg"); 
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;     
    }
.read_more_icon {
    background-position: -326px -294px;
    }
.comments_icon {
    background-position: -310px -294px;
    }
.rss_link {
    float: left;
    }

/* photo */
.photo_list,
.album_list{
    /*width:100%;*/
    /*width: 565px;*/
    }
.current_photo {
    opacity:0.5;
    filter:alpha(opacity=50);
    }

.photo_list td,
.album_list td{
    border: 1px solid #DDDDDD;
	height:150px;
	padding:10px;
	text-align:center;
	/*width:29%;*/
    vertical-align:top;
	width:167px;
	}
.photo_list img,
.album_list img {
	vertical-align: middle;
	}
.album_list p {
    margin-left:9px;
    margin-right:9px;
    text-align:left;
    }
.photofull {
	padding:20px 0px 0;
	}
.photofull .title {
	color:#988F5E;
	text-align: center;
	margin-bottom:5px;
	}
.photofull .photo_list td{
    border: 0;
    vertical-align: middle;
    }
.embed_photo {
	margin: 0 auto;
	width:244px;
	}
.embed_photo,
.embed_photo p {
	color:#888888;
	margin-top:5px;
	text-align:center;
	}
.photo_incl {
	float:left;
	margin: 7px 21px 0 8px;
	}
.photo_info {
    margin-left: 30px;
    margin-right: 30px;
    }
.prev_icon ,
.next_icon  {
    background-image: url("/i/interface_sprite.jpg"); 
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;     
    }
.prev_icon {
    background-position: -342px -294px;
    }
.next_icon {
    background-position: -358px -294px;
    }

/* video */
.video_list td {
    border: 1px solid #DDDDDD;
	height:150px;
	padding:10px;
	text-align:center;
	vertical-align:top;
	/*width:29%;*/
	width:167px;
	}

.video_list img {
	width:150px;
	}
.video_list p {
	line-height:16px;
	padding:0 10px;
	text-align: left;
	}
.video_list p a {
	text-decoration:none;
	}
.video {
	padding:10px 0px 20px;
	}
.video .title {
	color:#988F5E;
	text-align:center;
	margin:0 auto;
	}
.video_info {
	margin: 0 40px 0;
	}

/* search */


/* other */
.title {
	/*color:#555753;*/
	font-weight:bold;
	text-align: left;
	background:none;
	padding:0;
	font-family: georgia,sans-serif;
	font-size:8pt;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	letter-spacing: 0;
	margin: 0;
	}

.title a {
	/*color:#ADACBD;*/
	color:#988F5E;
	text-decoration: none;
	}
.title a:visited { 
	color:#988F5E;
	}


.prev_next img {
	vertical-align: middle;
	}
/* IE6 */
* html .prev_next {
	margin-top: 5px;
	}

    /*
#forgot_password_form label {
	border:0 none;
	}
#new_password_form label {
	border:0 none;
	}
label.error {
	display: block;
	color: #df3f3f;
    border: 0;
	}
*/
.arrow_prev {
	margin: 0 5px 0 0;
	}
.arrow_next {
	margin: 0 0 0 5px;
	}
.bread_crumbs {
	/*line-height:12px;*/
	/*margin:-10px 0 -3px;*/
	margin:0 0 13px;
	vertical-align:bottom;
	}
.bread_crumbs a {
    text-decoration: none;
    }
.contents td {
	vertical-align: top;
	}
.video_object {
	padding:15px 0 6px;
	text-align:center;
	}
.index_toolbar {
	margin-top:-11px;
	}
.cyrcle {
    background:url("/i/bg_circle_big.gif") repeat scroll 0 0 transparent;
    height:350px;
    text-align:center;
    width:350px;
    }
    
/* cultures */
.hieroglyphic #content * {
	font-size:14px;
    font-family: "宋体";
    line-height:21px;
	} 
    
/* related */
.related {
	overflow: hidden;
	zoom: 1;
	}
.related div {
    float: left;
    margin-bottom:10px;
    margin-right:10px;
	padding:0;
    text-align:left;
    vertical-align:top;
    width:154px;
	}   
.related img,
.related p {
    padding: 0;
    margin: 0;
    text-align: left;
    }   
.related .video_list td {
    border: 0;
    padding: 0;
    text-align: left;
}
}