* {
	margin:0;
	padding:0;
}

/* cultures */
.hieroglyphic #content * {
    font-family: "宋体";
	font-size:1em;
    line-height:21px;
	}
.large_text #content *,
.large_text * {
	font-size:1.05em;
	}
.direction_rtl #content *,
.direction_rtl * {
	direction: rtl;
	}

/* menu items */
#mi_main,
#mi_main a {
    display: none;
	}

body { 
    font-family: Arial;
    font-size: 0.8em;
	margin: 0px; 
	}
    
p, 
.p { 
	margin:10px 0;
	text-align: justify;
	overflow: hidden;
	zoom: 1;
	}

h1 {
    background: none repeat scroll 0 0 transparent;
    color: #a46362;
    font-family: Monotype Corsiva;
    font-size: 1.3em;
    font-style: normal;
    font-weight: bold;
    margin: 0 0 7px;
    text-align: left;
	}
.direction_rtl h1 {
    text-align: right;
    }

h2 { 
    clear: both;
	color: #867d4a;
    font-family: Georgia,"Times New Roman",serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0 10px;
    text-align: left;
	}
.direction_rtl h2 { 
    text-align: right;
	}

h3 { 
    color: #2c2c2c;
    font-size: 1em;
    font-size-adjust: none;
    font-variant: normal;
    font-weight: bold;
    line-height: 16pt;
    text-align: left;
	}

h4 {
	color:#555753;
	font-family:georgia;
	font-size-adjust:none;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:16pt;
    text-align: left;
	}
acronym {
	border-bottom:1px dotted #555753;
	}


a:link, 
a:active { 
	color: #00a3a3;
	}
a:visited { 
	color: #00a3a3;
	}
a:hover { 
    color: #867D4A;
	}
a img {
	border: 0;
	}
a.no_decor {
	text-decoration: none;
	}
ul {
	list-style-position:outside;
	list-style-type: disc;
	margin-left: 15px;
	text-align: justify;
	}
ul.contents {
    list-style-type: none;
    margin-left:0;
    }
ul.simple {
	list-style-type: none;
	}
ol {
	list-style-position:inside;
	font-family: Verdana; 
	}
ol.contents {
    text-align: left;
    }
dt {
    font-weight: bold;
    }

table {
	border-collapse: collapse;
	}
.table td {
    border:1px solid #CCCCCC;
    padding:2px 10px;
    }
.table th {
    border:1px solid #CCCCCC;
    padding:3px 10px;
    text-align:left;
    }
#wrapper {
    padding: 3px;
    }
#content_wrapper {
    margin-top: 10px;
    }
#header {
    line-height: 22px;
    overflow: hidden;
    width: 100%;
    }
#header #bubble_title {
    display: block;
    font: bold 8pt/23px georgia;
    height: 24px;
	}

#bubble_title i {
    background: url("../i/interface_sprite.jpg") no-repeat scroll -697px -184px transparent;
    display: block;
    float: left;
    height: 24px;
    width: 24px;
	}

#header #bubble_title span {
	color: #ADACBD;
	}
#menu  ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
    margin: 0;
	}

#menu a:link,
#menu a:visited { 
	color:gray;
	font-family:Verdana;
	text-decoration:none;
	}
#menu a.alert:link,
#menu a.alert:visited { 
	color:#df3f3f;
	}
#menu a:hover { 
	border-bottom:1px dotted gray;
	}

#requirements {
	margin-left: 600px; 
	position: absolute; 
	top: 50px; 
	right: 10px;
	width: 160px;
	}	
	
#footer { 	
	font-family:verdana;
    font-size: 0.87em;
	color: #888888;
    margin-top: 6px;
	text-align: left;
	}
.direction_rtl #footer { 	
	text-align: right;
	}
#share {
    border-bottom: 1px solid #ADACBD;
    margin-top: 8px;
    padding-bottom: 8px;
    overflow: hidden;
    width: 100%;
    }
.share_item {
    float: left;    
    padding: 0 3px;
    text-align: left;
    }
.direction_rtl .share_item {
    float: right;    
    }
.share_item_facebook {
    border: medium none;
    height: 21px;
    overflow: hidden;
    width: 143px;
    }
#fb-root {
    display: none;
    }

/* bubbles */
#bubble_lang {
    vertical-align: middle;
    font-size: 0.87em;
    }
#culture_list_top {
    clear: left;
    }
#culture_list{
    margin: 5px 0;
    }
#culture_list_top,
#culture_list {
    font-size: 0.87em;
    }
#header .slide_arrow {
    background: url("../i/interface_sprite.jpg") no-repeat scroll -670px -185px transparent;
    cursor: pointer;
    display: block;
    height: 5px;
    margin: 5px 0 0 3px;
    vertical-align: middle;
    width: 7px;
	}
.slide_arrow {
    font-size: 0.8em;
	}

/* IE 6 */
* html .slide_arrow {

	}

.audio_descr {
    margin-top: 5px;
    }
hr.audio_divider {
    margin: 9px 0;
    }
/* IE 7 */
*:first-child+html hr.audio_divider {
    margin: 0;
    }
/* IE 6 */
* html hr.audio_divider {
    margin: 0;
    }
/* иногда создаётся и не исчезает */
#atffc {
	display:none;
	}
    
#enable_javascript {
	left:253px;
	padding-left:10px;
	position:relative;
	top:-33px;
	width:566px;
	}

.accesskey{
	text-decoration: underline;
	}

hr {
	border-top: 1px solid #DDDDDD;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	}
hr.light {	
	border-top: 1px solid #f1f1f1;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
	color: #f1f1f1;
	height:1px;
	/*background-color: #f1f1f1;*/
	}

hr.dashed {	
    border-top: 1px dashed #DDDDDD;
    border-bottom: 1px dashed white;
    border-left: none;
    border-right: none;
    color: #DDDDDD;
	}


/* =forms */
input,
select,
textarea,
#body_search input.gsc-input,
#body_search input.gsc-search-button {
	border: 1px solid gray;
    padding: 1px 2px;
	font-family: "Lucida Grande",Verdana,Helvetica,sans-serif;
	font-weight: normal;
	}
input[type="checkbox"], 
input[type="radio"] {
    border: 0;
    }
.input_button,
#body_search input.gsc-search-button {	
    border: 1px outset #CCCCCC;
    cursor: pointer;
    padding: 1px 4px;
	}
/*
.hieroglyphic .input_button {
    height: 21px;
    }
*/    

/* IE 6 не работает перед буквами a, b, c, d, e, f */
/*
* html .input_button,
* html #body_search input.gsc-search-button {
	padding: 0px 5px 0px;
	}
    */
/* IE 7 */
*:first-child+html .input_button,
*:first-child+html #body_search input.gsc-search-button {
	padding: 0;
	}
/* IE 8 */
/*
.input_button,
#body_search input.gsc-search-button {
	padding-bottom /*\**:0\9
	}*/
/* Firefox */
/*
.input_button:default,
#body_search input.gsc-search-button:default {
	padding-bottom: 2px;
	}*/
/*
.input_button:hover,
#body_search input.gsc-search-button:hover {
	background-color:#F9F9F9;
	}*/
.error_list {
	list-style: none;
	list-style-position:outside;
	margin:0;
	color: #df3f3f;
	}
.error {
	border: 1px solid #df3f3f;
	}
.alert {
	color: #df3f3f;
	}
.field_name {
	/*background-color:#F6F6F6;*/
    text-align: right;
	}
.field_input {
    text-align: left;
    }

.left {
	float: left;
	}

.left_text {
	text-align: left;
	}
.unchecked_text {
	/*color:#949390;*/
	font-weight: bold;
	}
.back {
	text-align: right;
	}

.medium {
    font-size: 0.9em;
	}

.small {
	font-size: 0.87em;
	}

.verysmall {
	font-size: 0.87em;
	}
.i {
	font-style:italic;
	}
.u {
	text-decoration: underline;
	}    
.rounded {	
	background-color:#f6f5f5;
	}
.hidden {
    display: none;
    }
.slide_down:after  { 
    content: " ▼";    
    }

/* comments*/
html #disqus_thread {
    margin-bottom: 0;
    }
#dsq-brlink{
    display: none;
    font-size: 0.87em;
    }
#wrapper #dsq-content {

    }
#dsq-content .dsq-item-trackback {
    display: none;
    }   
#content #dsq-content iframe {
    width: 99%
    }
#wrapper #dsq-global-toolbar {
    background-color: #F2F2F2;
    border: 1px solid #DDDDDD;
    padding: 6px 8px 0;
    }
.author {
	color:#888888;
	font-family:verdana;
	font-size: 0.87em;
	/*float:right;*/
	overflow:hidden;
	}
.social {
	display:block;
	height:22px;
	background-color: #f2f2f2;
	border-width: 0 1px 1px;
	border-color: #DDDDDD;
	border-style: solid;
	overflow: hidden;
	padding: 3px 2px 0 0;
	text-align:left;
	zoom:1;
	}

/* IE6 */
/*
* html .social {
	margin-right: -20px;
	}*/
.addthis_toolbox {
	height: 22px;
    width: 244px;
	}

.navigation {
	margin: 7px 0 0 3px;
	}
.nav_selected {
    background:none repeat scroll 0 0 #ADACBD;
    color:white;
    font-weight:bold;
    padding:2px;
    }
/*
.navigation a,
.navigation span {
    margin: 0 2px;
    }*/
.read_more {
	text-decoration:none;
	}
.date {
    font-size: 0.87em;
    white-space: nowrap;
    }
.source {
    font-size: 0.87em;
    }
.date,
.source,
.light{	
	color: #888888;
	}

.box_status {
	overflow: hidden;
	zoom: 1;
	margin-top:10px;
	}

/* news */
.news_list {
    margin-top: 5px;
    width: 100%;
    }
.news_list td {
	border: 1px solid #DDDDDD;
	padding: 0 6px 4px;
	}

img.newsitem_img {
	float:left;
	/*margin:0 15px 10px 0;*/
	margin:0 15px 10px 0;
	position:relative;
	top:5px;
	}
.direction_rtl img.newsitem_img {
	float:right;
	margin:0 0 10px 15px;
	}
.newsfull {
    margin-bottom: 12px;
    }
.newsfull .title {
	color:#867d4a;
	}
.newsfull img.news_img {
	margin-bottom: 10px;
	}
.short_body {
	overflow: hidden;    
    position:relative;
	zoom:1;
	}
.short_body p {
    clear: left;
    }
.direction_rtl .short_body p {
    clear: right;
    }
.read_more_icon ,
.comments_icon  {
    background-image: url("/i/interface_sprite.jpg"); 
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;     
    }
.read_more_icon {
    background-position: -326px -294px;
    }
.comments_icon {
    background-position: -310px -294px;
    }

/* photo */
.photo_list div,
.album_list div {
    border-bottom: 1px solid #DDDDDD;
    padding: 7px 3px;
    }
.current_photo {
    opacity:0.5;
    filter:alpha(opacity=50);
    }
.photo_list td,
.album_list td{
    border: 1px solid #DDDDDD;
	height:150px;
	padding:10px;
	text-align:center;
    vertical-align:top;
	width:167px;
	}
.photo_list img,
.album_list img {
	vertical-align: middle;
	}
.photofull .title {
	color:#867d4a;
	text-align: center;
	margin-bottom:5px;
	}
.photofull .photo_list td{
    border: 0;
    vertical-align: middle;
    }
.photofull .photo_list {
    display: none;
    }
#photo_content .social {
    display:none;
    }
.embed_photo {
	}
.embed_photo,
.embed_photo p {
	color:#888888;
	margin-top:5px;
	}
.photo_incl {
	float:left;
	margin: 7px 21px 0 8px;
	}
.prev_icon ,
.next_icon  {       
    }
.prev_icon {
    background-position: -342px -294px;
    }
.next_icon {
    background-position: -358px -294px;
    }

/* video */
.video_list {
    margin-top: 3px;
    }
.video_list div {
    border-bottom: 1px solid #DDDDDD;
    padding: 7px 3px;
	}
.video_list img {
	width:120px;
	}
.video_list p a {
	text-decoration:none;
	}
.video {
	padding:0 0 4px;
	}
.video .title {
	color:#867d4a;
	}

/* search */


/* other */
.title {
	/*color:#555753;*/
	font-weight:bold;
	text-align: left;
	background:none;
	padding:0;
	font-family: Georgia,"Times New Roman",serif;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	letter-spacing: 0;
	margin: 4px 0;
	}

.title a {
	/*color:#ADACBD;*/
	color:#867d4a;
	text-decoration: none;
	}
.title a:visited { 
	color:#867d4a;
	}


.prev_next img {
	vertical-align: middle;
	}
.prev_next p {
	margin-bottom: 2px;
	}
/* IE6 */
* html .prev_next {
	margin-top: 5px;
	}

.arrow_prev {	
	}
.arrow_next {	
	}
.bread_crumbs {
	margin:0 0 7px;
	vertical-align:bottom;
	}
.bread_crumbs a {
    text-decoration: none;
    }
.contents td {
	vertical-align: top;
    clear: left;
    float: left;
	}
.video_object {
	padding:15px 0 6px;
	text-align:center;
	}
.index_toolbar {
	margin-top:-11px;
	}
.cyrcle {
    overflow: hidden;
    }
.cyrcle a {    
    display: block;
    margin-left: 3px;
    }
.cyrcle br {
    display: none;
    }   
    
/* related */
.related {
	overflow: hidden;
	zoom: 1;
	}
.related div {
    float: left;
    margin-bottom:10px;
    margin-right:10px;
	padding:0;
    text-align:left;
    vertical-align:top;
    width:154px;
	}   
.related img,
.related p {
    padding: 0;
    margin: 0;
    text-align: left;
    }   
.related .video_list td {
    border: 0;
    padding: 0;
    text-align: left;
}
.direction_rtl .related div {
    float: right;
	}